<div class="user-addresses">
    <div class="grid-6-m">
        <h3>SHIPPING ADDRESS</h3>
        <form method="post">
            <input name="address" type="text" placeholder="address">
            <input name="neighborhood" type="text" placeholder="neighborhood">
            <select name="city">
                <option class="default-option" selected>BOGOTA</option>
            </select>
            <input type="hidden" name="execute" value="create">
            <button type="submit">SAVE</button>
        </form>
    </div>
    <div class="grid-6-m last">
        <h3>SAVED ADDRESSES</h3>
        <ul class="stored-addresses">
            {% for direccion in direcciones %}
                <li>
                    <form id="delete-address-form" method="post">
                        <input type="hidden" name="execute" value="delete">
                        <input type="hidden" name="id" value="{{ direccion.id }}">
                        <i onclick="$('#delete-address-form').submit();" class="icon-trash"></i>
                    </form>
                    <p>{{ direccion.direccion }}</p>
                    <p>{{ direccion.barrio }}</p>
                    <p>{{ direccion.ciudad }}</p>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
