<div id="user-favorites">
    <div class="cont90">
        <ul class="all-products-list">
            {% for product in favorites %}
                <li class="product-list-item">
                    <i onclick="addToFavorites('{{ product.sku }}');" class="icon-heart-outline left"></i>
                    <i class="icon-messages left"></i>
                    <i onclick="addToCart('{{ product.sku }}');" class="icon-shopping-cart right"></i>
                    <i class="icon-book2 right"></i>
                    <a href="/item/{{ product.sku }}"><img src="/assets/img/swimwear-placeholder.jpg"></a>
                    <h3>
                        {{ product.nombre | upper }}
                    </h3>
                    <h4>
                        ${{ product.precio | number_format(0, '.', ',') }}
                    </h4>
                </li>
            {% else %}
                <h3 class="favorite-notice">Still don't have favorites!</h3>
            {% endfor %}
        </ul>
    </div>
</div>
