<div id="successregister" {% if successful_login %}style="display: block;"{% else %}style="display: none;"{% endif %}>
    <div class="cont60">
        <div class="cont95 buyonecont text-center">
            <div class="grid-12-xs text-right">
                <i class="icon-times" onclick="cerrarSuccessRegister()"></i>
            </div>
            <h2 class="montserrat-thin">YOUR ACCOUNT WAS SUCCESSFULLY CREATED</h2>
            <p class="montserrat-thin">You can now log in using the form to the left.</p>
        </div>
    </div>
</div>

<div id="user-forms" class="cont70">
    <div class="grid-6-m">
        <form action="/user/login" method="post">
            <h3>LOG IN</h3>
            <div class="field">
                <label for="username">Email</label>
                <input type="email" name="username" id="username" autocomplete="off" placeholder="EMAIL">
            </div>
            <div class="field">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" autocomplete="off" placeholder="PASSWORD">
            </div>
            <button type="submit">LOG IN</button>
        </form>
    </div>
    <div class="grid-6-m last">
        <form action="/user/register" method="post">
            <h3>CREATE ACCOUNT</h3>
            <p>And you'll have a more personalizaed shopping experience. Checkout the benefits!</p>
            <div class="field">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" placeholder="EMAIL">
            </div>
            <div class="field">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="PASSWORD">
            </div>
            <div class="field">
                <label for="name">Name</label>
                <input type="text" name="name" id="name" placeholder="FULL NAME">
            </div>
            <br>
            <button type="submit">CREATE ACCOUNT</button>
        </form>
    </div>
</div>