<table class="order-items" style="table-layout: fixed; margin-bottom: 2.5rem;">
    {% for pedido in pedidos %}
        <tr>
            <td style="width: 40%;">
                <h3>ORDER ID</h3>
                <p class="order-id">
                    {{ pedido.id }}<br>
                </p>
                <p class="order-id">
                    <b>STATUS</b> {{ pedido.orderStatus }}
                </p>
            </td>
            <td style="width: 40%;">
                <h3></h3>
                <ul class="order-products-list">
                    {% for sub_order in pedido.sub_pedidos %}
                        <li>{{ sub_order['Amount'] }} x {{ sub_order.name }}
                            (${{ pedido.currency }} {{ sub_order['Unitprice'] }} c/u)
                        </li>
                    {% endfor %}
                </ul>
            </td>
            <td style="width: 20%;">
                <h3>TOTAL</h3>
                <p class="order-price-display">
                    ${{ pedido.currency }} {{ pedido.totalPrice }}
                </p>
            </td>
        </tr>
    {% else %}
        <h3>Oops! You don't have orders yet.</h3>
    {% endfor %}
</table>
