<div class="promo-codes">
    <div class="grid-5-m">
        <h3>C&Oacute;DIGO DEL BONO DE REGALO</h3>
        <p class="order-id">
            9911223141493214764899112231414932147648
        </p>
    </div>
    <div class="grid-5-m">
        <h3>REDIMIDO</h3>
        <p>No se ha redimido</p>
    </div>
    <div class="grid-2-m last">
        <h3>VIGENCIA</h3>
        <p>
            29 D&Iacute;AS
        </p>
    </div>
</div>
