<form action="/user/register" method="post">
    <h3>Without Email Activation</h3>
    <div class="field">
        <label for="username">Username</label> <br>
        <input type="text" name="username" id="username" autocomplete="off">
    </div>
    <div class="field">
        <label for="password">Choose a password</div>
    <input type="password" name="password" id="password">
    </div>
    <div class="field">
        <label for="password_again">Enter password again</div>
    <input type="password" name="password_again" id="password_again">
    </div>
    <div class="field">
        <label for="email">Your Email</div>
    <input type="email" name="email" id="email">
    </div>
    <div class="field">
        <label for="name">Your Name</div>
    <input type="text" name="name" id="name">
    </div> <br>
    <input type="hidden" name="token" value="<?php echo Token::generate(); ?>">
    <input type="submit" value="Register">
</form>
