@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/montserrat/montserrat-bold-webfont.woff') format('woff'),
    url('/assets/fonts/montserrat/montserrat-regular-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Montserrat Light';
    src: url('/assets/fonts/montserrat/Montserrat-Light.ttf');
}

@font-face {
    font-family: 'Montserrat Thin';
    src: url('/assets/fonts/montserrat/Montserrat-Thin.ttf');
}

.montserrat-bold {
	font-family: 'Montserrat';
}

.montserrat-light {
	font-family: 'Montserrat Light';
}

.montserrat-thin {
	font-family: 'Montserrat Thin';
}