<footer>
    <div class="footer-container">
        <div class="grid-5-m">
            <div class="container">
                <div class="grid-12-s">
                    LIKE BAOBAB?
                    <form>
                        <input type="email" placeholder="YOUR EMAIL">
                        <button type="submit">SUSCRIBE</button>
                    </form>
                </div>
                <div class="grid-12-s last">
                    SHARE AND FOLLOW US
                    <div id="social-media-header">
                        <p class="social-butons">
                            <a target="_blank" href="https://www.instagram.com/baobabswimwear/"><i class="icon-instagram"></i></a>
                            <a target="_blank" href="https://www.facebook.com/baobabswimwear/?fref=ts"><i class="icon-facebook2"></i></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-7-m footerbelow last">
            <div class="container">
                <div class="grid-4-s">
                    IMPORTANT LINKS
                    <ul>
                        <li><a href="/">HOME</a></li>
                        <li><a href="/shop">SHOP</a></li>
                        <li><a href="/how-we-give">HOW WE GIVE</a></li>
                        <li><a href="/video">VIDEO</a></li>
                        <li><a href="/shop">LOOKBOOK</a></li>
                        <li><a href="/sizing">SIZING</a></li>
                        <li><a href="/customer-care">CONTACT</a></li>
                        <li><a href="/customer-care">PRIVACY</a></li>
                    </ul>
                </div>
                <div class="grid-4-s">
                    PRODUCTS
                    <ul>
                        <li><a href="/shop">NEW COLLECTION</a></li>
                        <li><a href="/shop">SWIMWEAR</a></li>
                        <li><a href="/shop">ONE PIECES</a></li>
                        <li><a href="/shop">BIKINIS</a></li>
                        <li><a href="/shop">FAVORITES</a></li>
                    </ul>
                </div>
                <div class="grid-4-s last">
                    CUSTOMER SERVICE
                    <ul>
                        <li><a href="/customer-care">CONTACT</a></li>
                        <li><a href="/customer-care">RETURNS</a></li>
                        <li><a href="/sizing">SIZE GUIDE</a></li>
                        <li><a href="/customer-care">SHIPPING INFO.</a></li>
                        <li><a href="/customer-care">CLIENT PROFILE</a></li>
                        <li><a href="/customer-care">FAQ</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="grid-12-m last">
            {{ include('inc/_contact_info.twig') }}
        </div>
    </div>
</footer>
<script type="text/javascript" src="/public/js/script.min.js"></script>