<header class="{{ header_always_scrolled ? 'scrolled' }}">
    <div class="grid-12-xs last" id="head-mob">
        <div class="grid-6-xs">
            <div class="left-menu-container">
                <a onclick="openSearch();"><i class="icon-search"></i></a>
                <span class="icon-th-menu" id="icon-mobile"></span>
                {% if is_home %}
                    <div id="social-media-header">
                        <a target="_blank" href="https://www.instagram.com/baobabswimwear/"><i class="icon-instagram"></i></a>
                        <a target="_blank" href="https://www.facebook.com/baobabswimwear/?fref=ts"><i class="icon-facebook2"></i></a>
                        {#<i class="icon-youtube"></i>#}
                        {#<i class="icon-pinterest"></i>#}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="grid-6-xs last">
            <div class="right-menu-container">
                <div id="currency-selector" onclick="toggleCurrencyMenu();">
                    $<p id="currency-display">{{ _BAOBAB_CURRENCY }}</p> <span class="icon-arrow-down"></span>

                    <div style="display: none;" id="currency-selection-list">
                        <ul>
                            <li onclick="changeCurrency('COP');">$COP</li>
                            <hr>
                            <li onclick="changeCurrency('USD');">$USD</li>
                        </ul>
                    </div>
                </div>
                <a href="/user"><i class="icon-user {% if isLoggedIn and is_user_controller and not is_get_favorites %} active {% endif %}"></i></a>
                <a href="/user/favorites"><i id="icon-favorites" class="icon-heart-outline {% if is_get_favorites %} active {% endif %}"></i></a>
                <a onclick="toggleCartBox();">
                    <i class="icon-shopping-bag {% if is_cart_controller %} active {% endif %}"></i>
                </a>
            </div>
        </div>
    </div>
    <nav class="grid-12-m last">
        <div id="nav-title" class="nav-title">
            <h2>BAOBAB</h2>
        </div>
        <div id="nav-menu" class="nav-menu">
            <ul>
                <li id="nav-item-home" class="{{ ( page_name | lower ) == 'home' ? 'active' }}"><a href="/">HOME</a>
                </li>
                <li id="nav-item-shop" class="{{ ( page_name | lower ) == 'shop' ? 'active' }}"><a href="/shop">SHOP</a>
                </li>
                <li id="nav-item-give" class="{{ ( page_name | lower ) == 'give' ? 'active' }}"><a href="/how-we-give">HOW WE
                        GIVE</a></li>
                <li id="nav-item-sizing" class="{{ ( page_name | lower ) == 'sizing' ? 'active' }}"><a href="/sizing">SIZING</a>
                </li>
                <li id="nav-item-video" class="{{ ( page_name | lower ) == 'video' ? 'active' }}"><a id="openvideo-pop" >VIDEO</a>
                </li>
                <li id="nav-item-lookbook" class="{{ ( page_name | lower ) == 'lookbook' ? 'active' }}"><a href="/lookbook">LOOKBOOK</a>
                </li>
                <li id="nav-item-customercare" class="{{ ( page_name | lower ) == 'customer' ? 'active' }}"><a href="/customer-care">CUSTOMER CARE</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<div id="search-box" class="transparent send-to-back">
    <div class="cont95 search-box-content">
        <i onclick="openSearch();" class="icon-times"></i>
        <div class="grid-12-m last">
            <input type="text" placeholder="INGRESA TU B&Uacute;SQUEDA AQU&Iacute;" id="search-input">
        </div>
        <div class="grid-12-m last">
            <div id="search-results">
                SEARCH RESULTS
            </div>
        </div>
    </div>
</div>
<div id="menu-mobile-div">
    <i class="icon-times" id="closenavmob"></i>
    <div id="filler"></div>
    <a href="/" class="{{ ( page_name | lower ) == 'home' ? 'montserrat-bold' }}">HOME</a>
    <a href="/shop" class="{{ ( page_name | lower ) == 'shop' ? 'montserrat-bold' }}">SHOP</a>
    <a href="/how-we-give" class="{{ ( page_name | lower ) == 'give' ? 'montserrat-bold' }}">HOW WE GIVE</a>
    <a href="/sizing" class="{{ ( page_name | lower ) == 'sizing' ? 'montserrat-bold' }}">SIZING</a>
    <a id="openvideo-pop" class="{{ ( page_name | lower ) == 'video' ? 'montserrat-bold' }}">VIDEO</a>
    <a href="/lookbook" class="{{ ( page_name | lower ) == 'lookbook' ? 'montserrat-bold' }}">LOOKBOOK</a>
    <a href="/customer-care" class="{{ ( page_name | lower ) == 'customer' ? 'montserrat-bold' }}">CUSTOMER CARE</a>
</div>
<div id="cart-box" class="transparent send-to-back">
    {% if cart is empty %}
        <h4>Your cart is empty.</h4>
    {% else %}
        <div class="cont85 cart-box-content">
            <div class="cart-box-title">
                <h5>YOUR CART</h5>
                <i onclick="emptyCart();" class="icon-trash"></i>
                <i onclick="toggleCartBox();" class="icon-times"></i>
            </div>
            <ul class="cart-box-items">
                {% set total = 0 %}
                {% for item in cart %}
                    {% set total = total + ( item.cantidad * item.precio ) %}
                    <li class="cart-box-item">
                        <img src="{{ item.image }}">
                        <div>
                            <p class="cart-box-item-name">{{ item.nombre | upper }}</p>

                            {% if item.category == 'Bikini' %}
                                <p class="cart-box-item-desc">TOP <span>{{ item.talla_top | upper }} |</span> BOTTOM
                                    <span>{{ item.talla_bottom | upper }} |</span> PUSH UP
                                    <span>{{ item.pushup | upper }}</span></p>
                            {% else %}
                                <p class="cart-box-item-desc"> TALLA
                                    <span>{{ item.talla_top | upper }}</span></p>
                            {% endif %}
                            <p class="cart-box-item-price">{{ item.cantidad }} x
                                ${{ item.precio | number_format(0, '.', ',') }}</p>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            <div class="cart-box-checkout">
                <h4>TOTAL: </h4>
                <p id="cart-box-total-price">${{ total | number_format(0, '.', ',') }}</p>
                <button onclick="window.location.replace('/cart')">CHECKOUT &amp; PAY</button>
            </div>
        </div>
    {% endif %}
</div>
<div id="whatwegive">
    <div class="cont60">
        <div class="cont95 buyonecont text-center">
            <div class="grid-12-xs text-right">
                <i class="icon-times" id="cerrarwhatwegive"></i>
            </div>
            <h3 class="montserrat-thin">#BuyOneGrowOne</h3>
            <img src="/assets/img/buyone.png" id="whatwegivehimg">
            <p class="montserrat-thin">Thanks to your purchase we will plant one:</p>
            <h2 id="whatwegiveh2" class="text-uppercase monsterrat">ACACIO</h2>
        </div>
    </div>
</div>

<div id="shipping-pop">
    <div class="cont60">
        <div class="cont95 buyonecont text-center">
            <div class="grid-12-xs text-right">
                <i class="icon-times" id="cerrarshipping-pop"></i>
            </div>
            <img src="/assets/img/Pop-un-shipping.jpg" >
        </div>
    </div>
</div>

<div id="sizeing-pop">
    <div class="cont60">
        <div class="cont95 buyonecont text-center">
            <div class="grid-12-xs text-right">
                <i class="icon-times" id="cerrarsizeing-pop"></i>
            </div>
            <img src="/assets/img/Pop-up-sizing-.png" >
        </div>
    </div>
</div>

<div id="video-pop">
    <div class="cont60">
        <div class="cont95 buyonecont text-center">
            <div class="grid-12-xs text-right">
                <i class="icon-times" id="cerrarvideo-pop"></i>
            </div>
            <video id="myvideo" src="/assets/img/Corte_Final.mp4" controls>
        </div>
    </div>
</div>