<!DOCTYPE html>
<html>
<head>
    {#<title>{{ _APP_NAME }} | {{ page_name }}</title>#}
    <title>Baobab Swimwear | Beach Wear | Bikini</title>
    <meta name="Description" content="Baobab Swimwear is a Colombian brand, our inspiration derives from our country, recognizing and cultivating the value of biodiversity that defines us. Affordable & effortlessly cool">
    <meta name="Keywords" content="summer, beachwear, swimwear, swimsuits, bikini, beach bikini, social fashion, bikini mujer ">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../assets/img/Favicon-baobab.png">
    <link rel="stylesheet" type="text/css" href="/public/css/style.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.3/js.cookie.min.js"></script>
    <script type="text/javascript" src="/public/js/script.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.min.css" />
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-NZVX3MG');</script>
    <!-- End Google Tag Manager -->
</head>
