<div id="shop" class="content-wrapper">
    <div id="shop-below" class="top-filler"></div>
    <div class="grid-2-m">

    </div>
    <div class="grid-12-xs last text-center" id="nav-title-mobile">
        <h2>BAOBAB</h2>
    </div>
    <div class="filtermob grid-12-xs text-center last">
        <div class="cont50">
            <a href="/shop/swimwear/one-piece" class="{% if is_one_piece %} active{% endif %}">One Piece</a>
            <a href="/shop/swimwear/bikini" class="{% if is_bikini %} active {% endif %}">Bikinis</a>
            <a href="/shop/swimwear" class="{% if is_all %} active {% endif %}">See All</a>
        </div>
    </div>
    <div class="shop-menu">
        <div class="container">
            <h5>CATEGORIES</h5>
            <ul class="shop-list">
                {#<li>Nueva colección</li>#}
                <li><a href="/shop/swimwear">Swimwear</a></li>
                <ul class="shop-sublist">
                    <li><a {% if is_one_piece %}class="active"{% endif %} href="/shop/swimwear/one-piece">One Piece</a>
                    </li>
                    <li><a {% if is_bikini %}class="active" {% endif %}href="/shop/swimwear/bikini">Bikinis</a></li>
                    <li><a {% if is_all %}class="active" {% endif %}href="/shop/swimwear">See All</a></li>
                </ul>
                {#<li>What you give</li>#}
                {#<li>Sale</li>#}
            </ul>
            {#<h5>FILTROS</h5>#}
            {#<form {% if is_home %} action="/shop" {% else %} action="{{ base_url[:-1] }}" {% endif %} method="post" onsubmit="onSubmitSave()" id="shop-filter-form">#}
                {#<ul>#}
                    {#<li>#}
                        {#<label class="label-for">Precio</label>#}
                        {#<input type="hidden" id="precio-min" name="precio-min" value="{{ min_selected_price }}"#}
                               {#min="{{ min_price }}">#}
                        {#<input type="hidden" id="precio-max" name="precio-max" value="{{ max_selected_price }}"#}
                               {#max="{{ max_price }}">#}
                    {#</li>#}
                    {#<li>#}
                        {#<div id="price-slider"></div>#}
                    {#</li>#}
                    {#<li onclick="toggleSizes();">Talla</li>#}
                    {#<ul id="sizes-sublist" class="shop-sublist">#}
                        {#<li>#}
                            {#<input class="with-label" type="checkbox" id="size-xs"#}
                                   {#name="size[xs]" {% if selected_filter_sizes.xs %} checked {% endif %}>#}
                            {#<label class="label-for" for="size-xs">XS</label>#}
                        {#</li>#}
                        {#<li>#}
                            {#<input class="with-label" type="checkbox" id="size-s"#}
                                   {#name="size[s]" {% if selected_filter_sizes.s %} checked {% endif %}>#}
                            {#<label class="label-for" for="size-s">S</label>#}
                        {#</li>#}
                        {#<li>#}
                            {#<input class="with-label" type="checkbox" id="size-m"#}
                                   {#name="size[m]" {% if selected_filter_sizes.m %} checked {% endif %}>#}
                            {#<label class="label-for" for="size-m">M</label>#}
                        {#</li>#}
                        {#<li>#}
                            {#<input class="with-label" type="checkbox" id="size-l"#}
                                   {#name="size[l]" {% if selected_filter_sizes.l %} checked {% endif %}>#}
                            {#<label class="label-for" for="size-l">L</label>#}
                        {#</li>#}
                        {#<li>#}
                            {#<input class="with-label" type="checkbox" id="size-xl"#}
                                   {#name="size[xl]" {% if selected_filter_sizes.xl %} checked {% endif %}>#}
                            {#<label class="label-for" for="size-xl">XL</label>#}
                        {#</li>#}
                    {#</ul>#}
                {#</ul>#}
                {#<button type="submit" id="shop-filters-button">FILTRAR</button>#}
            {#</form>#}
        </div>
    </div>
    <div class="grid-10-m last">
        <ul class="all-products-list">
            {% set count = 4 %}
            {% for product in products %}
                <li class="product-list-item grid-3-m last">
                    <i onclick="addToFavorites('{{ product.slug }}');" class="icon-heart-outline left"></i>
                    <div  data-href="https://baobabwear.co/item/{{ product.slug }}" data-layout="button" data-size="small" data-mobile-iframe="true">
                        <a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fbaobabwear.co%2Fitem%2F{{ product.slug }}&amp;src=sdkpreparse">
                            <i class="icon-messages left"></i>
                        </a>
                    </div>
                    <i onclick="$(location).attr('href', '/item/{{ product.slug }}');" class="icon-shopping-cart right"></i>
                    <i id="opensizeing-pop" class="icon-book2 right"></i>
                    <a href="/item/{{ product.slug }}"><img src="{{ product.productImagess.first.url }}"></a>

                    <h3>
                        {{ product.name | upper }}
                    </h3>
                    <h4>
                        ${{ _BAOBAB_CURRENCY }} {{ product.price | number_format(0, '.', ',') }}
                    </h4>
                </li>
            {% else %}
                <h3>¡Lo sentimos! No encontramos productos con tus criterios de búsqueda.</h3>
            {% set count = count + 4 %}
            {% endfor %}
        </ul>
    </div>
</div>

{% if products | length > 0 %}
    <div class="grid-12-m last">
        {% if number_of_page > 1  %}
        <div class="cont85 pages-list-container">
            <ul class="pages-list">
                {% if current_page >= 2 %}
                    <li><a onclick="submitPaginationForm('{{ base_url }}{{ current_page - 1 }}');">Before</a></li>
                {% endif %}
                {% for i in range(0, number_of_pages - 1) %}
                    <li {% if current_page - 1 == i %}class="active" {% endif %}><a
                                onclick="submitPaginationForm('{{ base_url }}{{ i + 1 }}');"
                        >{{ i + 1 }}</a></li>
                {% endfor %}
                {% if current_page < number_of_pages %}
                    <li><a onclick="submitPaginationForm('{{ base_url }}{{ current_page + 1 }}');">Next</a>
                    </li>
                {% endif %}
            </ul>
        </div>
        {% endif %}
    </div>
{% endif %}
