{{ include('inc/_html_head.twig') }}

<body>
{{ include('inc/_header.twig') }}
{% if is_checkout and not(error_stock) %}
    <div id="checkout-info" class="content-wrapper">
        <div class="top-filler"></div>
        <form action="/cart/check_order" method="post">
            <div class="cont90">
                <div class="grid-6-m">
                    <h3>INVOICE</h3>
                    <table>
                        <tr class="dark">
                            <th>CONCEPT</th>
                            <th>VALUE</th>
                        </tr>
                        <tr>
                            <td>TOTAL VALUE</td>
                            <td>${{ _BAOBAB_CURRENCY }} <span
                                        id="checkout-info-total-value">{{ cart_total | number_format(0, '.', ',') }}</span>
                            </td>
                        </tr>
                        <tr class="dark">
                            <td>SHIPPING COST</td>
                            <td>${{ _BAOBAB_CURRENCY }} <span
                                        id="checkout-info-shipping-cost">{{ shipping_price_to_country | number_format(0, '.', ',') }}</span>
                            </td>
                        </tr>
                        {#<tr>#}
                        {#<td>DESCUENTO</td>#}
                        {#<td>$0</td>#}
                        {#</tr>#}
                        <tr>
                            <td>TOTAL</td>
                            <td>${{ _BAOBAB_CURRENCY }} <span
                                        id="checkout-info-total-with-shipping">{{ (cart_total + shipping_price_to_country) | number_format(0, '.', ',') }}</span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="grid-6-m last">
                    <h3>SHIPPING INFORMATION</h3>
                    <input name="address" type="text" placeholder="ADDRESS" required>
                    <input name="city" type="text" placeholder="CITY" required>
                    <select id="checkout-info-country-input" name="country" required>
                        {% for country in countries %}
                            <option value="{{ country.id }}"
                                    {% if (country.countryName | trim) is sameas('Colombia') %}selected{% endif %}>
                                {{ country.countryName }}</option>
                        {% endfor %}
                    </select>
                    <input name="name" type="text" placeholder="YOUR NAME" required>
                    <input name="phone" type="tel" placeholder="YOUR PHONE" required>
                    <input name="postal_code" type="text" placeholder="POSTAL CODE" required>
                </div>
            </div>
            {#<div class="grid-12-m last">#}
            {#<div class="cont90">#}
            {#<h3>DATOS PERSONALES</h3>#}
            {#<div class="grid-6-m">#}
            {#<input name="email" type="email" placeholder="INGRESA TU EMAIL" required>#}
            {#<input name="name" type="text" placeholder="INGRESA TU NOMBRE" required>#}
            {#</div>#}
            {#<div class="grid-6-m last">#}
            {#<input name="phone" type="tel" placeholder="INGRESA TU CELULAR" required>#}
            {#</div>#}
            {#</div>#}
            {#</div>#}
            <div class="cont90">
                {#<div class="grid-12-m last">#}
                {#<div class="promo-code-wrapper">#}
                {#<h3>BONO O C&Oacute;DIGO PROMOCIONAL (OPCIONAL)</h3>#}
                {#<p>¿Tienes un bono de regalo o un c&oacute;digo promocional? Ingr&eacute;salo abajo para verlo#}
                {#reflejado en tu#}
                {#factura.</p>#}
                {#<input id="promotional-code" type="text" placeholder="BONO O C&Oacute;DIGO PROMOCIONAL">#}
                {#<hr>#}
                {#</div>#}
                {#</div>#}
                <div class="grid-12-m last">
                    <input name="order-id" type="hidden" value="{{ order_id }}">
                    <button type="submit">REVIEW ORDER AND PAY</button>
                </div>
            </div>
        </form>
        <div class="grid-12-m last">
            <div class="cont90">
                <form class="cancel-order-form" method="post" action="/cart/cancel_order">
                    <input type="hidden" value="{{ order_id }}" name="referenceCode">
                    <button type="submit" class="pay-cancel-button" href="/cart">CANCEL</button>
                </form>
            </div>
        </div>
    </div>
{% elseif is_checkout and error_stock %}
    <h1>Stock error {{ error_stock }}</h1>
{% elseif is_check_order %}
    <div id="check-order">
        <div class="top-filler"></div>
        <div class="cont90">
            <h3>ORDER SUMMARY</h3>
            <div class="grid-6-m">
                <table>
                    <tr>
                        <td>EMAIL</td>
                        <td>{{ email }}</td>
                    </tr>
                    <tr>
                        <td>NAME</td>
                        <td>{{ name }}</td>
                    </tr>
                    <tr>
                        <td>CELLPHONE</td>
                        <td>{{ phone }}</td>
                    </tr>
                    <tr>
                        <td>SHIPPING ADDRESS</td>
                        <td>{{ address }}</td>
                    </tr>
                    <tr>
                        <td>CITY</td>
                        <td>{{ city }}</td>
                    </tr>
                    <tr>
                        <td>COUNTRY</td>
                        <td>{{ country }}</td>
                    </tr>
                </table>
            </div>
            <div class="grid-6-m last">
                <table>
                    <tr class="dark">
                        <th>CONCEPT</th>
                        <th>VALUE</th>
                    </tr>
                    <tr>
                        <td>TOTAL VALUE</td>
                        <td>${{ _BAOBAB_CURRENCY }} {{ cart_total | number_format(0, '.', ',') }}</td>
                    </tr>
                    <tr class="dark">
                        <td>SHIPPING COST</td>
                        <td>${{ _BAOBAB_CURRENCY }} {{ shipping_cost | number_format(0, '.', ',') }}</td>
                    </tr>
                    {#<tr>#}
                    {#<td>DESCUENTO</td>#}
                    {#<td>${{ _BAOBAB_CURRENCY }}0</td>#}
                    {#</tr>#}
                    <tr>
                        <td>TOTAL</td>
                        <td>${{ _BAOBAB_CURRENCY }} {{ amount | number_format(0, '.', ',') }}</td>
                    </tr>
                </table>
            </div>
            <div class="grid-12-m last">
                <hr>
                <form action="{{ payu_url }}" method="post">
                    <input name="merchantId" type="hidden" value="{{ merchantId }}">
                    <input name="accountId" type="hidden" value="{{ accountId }}">
                    <input name="description" type="hidden" value="{{ description }}">
                    <input name="referenceCode" type="hidden" value="{{ referenceCode }}">
                    <input name="amount" type="hidden" value="{{ amount }}">
                    <input name="tax" type="hidden" value="{{ tax }}">
                    <input name="taxReturnBase" type="hidden" value="{{ taxReturnBase }}">
                    <input name="currency" type="hidden" value="{{ currency }}">
                    <input name="signature" type="hidden" value="{{ signature }}">
                    <input name="responseUrl" type="hidden" value="{{ responseUrl }}">
                    <input name="confirmationUrl" type="hidden" value="{{ confirmationUrl }}">
                    <input name="shippingCountry" type="hidden" value="{{ shippingCountry }}">
                    <input name="envio" type="hidden" value="{{ envio }}">
                    <input type="hidden" name="shippingCity" value="{{ shippingCity }}" required id="inputciudad">
                    <input type="hidden" name="shippingAddress" value="{{ shippingAddress }}" required
                           id="inputdireccion">
                    <input type="hidden" name="zipCode" value="{{ zipCode }}" required id="inputbarrio">
                    <input type="hidden" name="buyerFullName" value="{{ name }}" required>
                    <input type="hidden" name="payerPhone" value="{{ phone }}" required>
                    <input type="hidden" name="buyerEmail" value="{{ email }}" required>
                    <input type="hidden" name="payerMobilePhone" value="{{ phone }}" required>
                    <input type="hidden" name="extra1" value="{{ extra1 }}">
                    <input type="hidden" name="extra2" value="{{ extra2 }}">
                    <input type="hidden" name="lng" value="en">
                    <button class="pay-pay-button" type="submit">PAY</button>
                </form>
                <form method="post" action="/cart/cancel_order">
                    <input type="hidden" value="{{ referenceCode }}" name="referenceCode">
                    <button type="submit" class="pay-cancel-button" href="/cart">CANCEL</button>
                </form>
            </div>
        </div>
    </div>
{% else %}
    <div id="cart" class="content-wrapper">
        <div class="top-filler"></div>
        <div class="grid-12-m last">
            <div class="cont90">
                <h3>YOUR CART</h3>
                <hr>
                {% if cart is not empty %}
                    {% for item in cart %}
                        <div id="cart-item-{{ item.ref|replace({"::": "-"}) }}" class="cart-item">
                            <table>
                                <tr>
                                    <td>
                                        <img src="{{ item.image }}">
                                    </td>
                                    <td>
                                        {% if item.category == 'Bikini' %}
                                            <h3>{{ item.nombre | upper }}</h3>
                                            <p>TOP <span>{{ item.talla_top | upper }} |</span> BOTTOM
                                                <span>{{ item.talla_bottom | upper }} |</span> PUSH UP
                                                <span>{{ item.pushup | upper }}</span></p>
                                        {% else %}
                                            <h3>{{ item.nombre | upper }}</h3>
                                            <p> TALLA
                                                <span>{{ item.talla_top | upper }}</span></p>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <div class="grid-6-xs quantity">
                                            <div class="grid-4-xs" onclick="decreaseAmountInCart('{{ item.ref }}');">
                                                <span>-</span>
                                            </div>
                                            <div class="grid-4-xs">
                                                <span class="cart-item-amount">{{ item.cantidad }}</span>
                                            </div>
                                            <div class="grid-4-xs last"
                                                 onclick="increaseAmountInCart('{{ item.ref }}');">
                                                <span>+</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="price-display">
                                        ${{ _BAOBAB_CURRENCY }} <span>{{ (item.cantidad * item.precio) | number_format(0, '.', ',') }}</span></td>
                                    <td onclick="removeFromCart('{{ item.ref }}');"><i
                                                class="icon-times"></i></td>
                                </tr>
                            </table>
                        </div>
                    {% endfor %}
                {% else %}
                    <h4>Your cart is empty.</h4>
                {% endif %}
                <hr>
            </div>
        </div>
        {% if cart is not empty %}
            <div class="grid-12-m last">
                <div class="cont90">
                    <div class="grid-3-m-left">
                        <table>
                            <tr class="cart-total-price">
                                <td>TOTAL:</td>
                                <td id="total-price" class="price-display">
                                    ${{ _BAOBAB_CURRENCY }} <span>{{ cart_total | number_format(0, '.', ',') }}</span></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="grid-12-m last">
                <div class="cont90">
                    <form action="/cart/checkout" method="post">
                        <button type="submit">
                           CONTINUE TO CHECKOUT
                        </button>
                    </form>
                </div>
            </div>
        {% endif %}
    </div>
{% endif %}

{{ include('inc/_footer.twig') }}
</body>
