{{ include('inc/_html_head.twig') }}

<body>
{{ include('inc/_header.twig') }}

<div id="how-we-give" class="content-wrapper">
    <div class="top-filler top-filler-normal"></div>
    <div class="grid-12-xs last">
        <div class="cont80">

            <div class="grid-3-m">
                <h1 class="montserrat">COLOMBIA</h1>
                <p>Our inspiration derives from our country, recognizing and cultivating the value of biodiversity that defines us.</p>
                <div class="smallsep"></div>
                <p>Every piece is made with Colombian Hands.</p>   
                <img src="/assets/img/how2.jpg" id="how2">            
            </div>
            <div class="grid-6-m">
                <div class="grid-1-xs"></div>
                <div class="grid-10-xs">
                    <img src="/assets/img/how12.png" id="how12">
                    <img src="/assets/img/how1.jpg">
                </div>
            </div>
        </div>
    </div>
    <div class="grid-12-xs margintop last">
        <div class="grid-2-m"></div>
        <div class="grid-4-m">
            <img src="/assets/img/how3.png" id="how3">
        </div>
        <div class="grid-4-m text-center conciencia last">
            <h1>WE CREATE AWARENESS</h1>
            <p>of the importance of giving back to the earth</p>
            <img src="/assets/img/how31.png" id="how31">
            <h2>ROOTS AND SHOTS FOUNDATION</h2>
            <p>Tree planting is made in the San Mauricio Foundation, currently ally to the Roots & Shoots program leadered by Jane Goodall. This foundation gives shelter to orphan children, teaching them the importance of taking care of the earth and environmental awareness by planting trees.</p>
        </div>
    </div>
    <div class="grid-12-xs last ayuda text-center">
        <h1>THANKS FOR YOUR HELP WE'VE PLANTED <br> MORE THAN 1000 TREES IN COLOMBIA</h1>
    </div>
    <div class="grid-12-xs last certi">
        <div class="cont75">
            <div class="grid-6-m">
                <img src="/assets/img/how41.png" id="">
            </div>
            <div class="grid-6-m last">
                <img src="/assets/img/how42.png" id="">
            </div>
        </div>
    </div>
    <div class="grid-12-m last">
        <div class="hwg-shop-link">
            <a href="/shop">SHOP</a>
        </div>
    </div>
</div>

{{ include('inc/_footer.twig') }}
</body>
