@import 'helpers/all';
@import 'modules/all';
@import 'extensions/all';
@import 'base/all';

input {
  box-shadow: none;

  &:hover {
    box-shadow: none;
  }

  &:active {
    box-shadow: none;
  }

  &:focus {
    box-shadow: none !important;
  }
}

html {
  height: 100%;
}

a:hover, a:focus, a:visited {
  box-shadow: none;
}

a.return-to-shop-on-pay {
  margin-bottom: 1.5rem;
  display: block;
  width: 100%;
  line-height: 2.5rem;
  text-align: center;
  background-color: #000;
  color: #fff;
}

body {
  font-family: 'Montserrat Light';
  font-weight: 100;
  height: 100%;
  margin: 0;
  color: #000;
}

button {
  cursor: pointer;
}

.body-home {
  background: url('/assets/img/lookbook4.jpg') no-repeat center center fixed;
  background-size: cover;
  background-color: #81b9b8;

  color: #fff;

  height: 100%;

  h1, h2, h3, h4 {
    color: #fff;
  }
}

#header-background {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #fff;
  opacity: 0;
}

.home-bottom-form {
  h4 {
    font-weight: lighter;
  }

  form {
    input[type=email], button[type=submit] {
      background-color: rgba(0, 0, 0, 0);
      border: 1px solid #fff;
      color: #fff;
      height: 3rem;
      padding: 0.5rem;
      font-size: 1rem;
      margin-right: 1rem;
      margin-bottom: 0.5rem;
    }
  }
}

.nav-title {
  margin-bottom: 0;
  margin-top: 2rem;
  text-align: center;

  transition: margin-bottom 500ms linear;

  position: sticky;
  top: 0;

  h2 {
    font-family: 'Geosans Light';
    font-size: 4rem;
    margin-bottom: 0rem;
    margin-top: -1.5rem;
  }

  h3 {
    height: 2rem;
    font-family: 'Shadows Into Light';
    font-size: 2rem;
    margin-top: -0.5rem;

    transition: opacity 250ms linear, height 750ms linear;
  }

  h1, h2, h3, h4, h5 {
    color: #fff;
  }
}

input.subscribe-email {
  height: 2rem !important;
  width: 15rem !important;
}

.nav-menu {
  text-align: center;
  font-weight: lighter;

  transition: all 1s ease-in, color 0;

  width: 100%;

  a {
    color: #fff;

  }

  ul {
    margin-top: 0;
  }

  li {
    display: inline;
    margin-right: 2.5rem;
    text-align: center;

    &:hover {
      border-bottom: 1px solid;
    }

    a {
      position: relative;
    }
  }

  .active {
    border-bottom: 1px solid;
    border-color: inherit;
  }
}

.home-footer {
  text-align: center;
  position: absolute;
  bottom: 0;

  .footer-contact-info {
    font-size: 0.75rem;
    margin-bottom: 1rem;
    line-height: 1.75rem;

    a {
      font-size: 0.75rem;
      color: #fff;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}

header {
  z-index: 4;
  position: fixed;
  width: 100%;
  font-size: 1.5rem;

  //transition: color 500ms linear;
  color: #fff;
  background-color: rgba(255, 255, 255, 0);

  font-weight: 100;

  .left-menu-container {
    padding: 0.5rem;
    padding-left: 1.5rem;
    z-index: 20;
    position: relative;

    a {
      color: inherit;
      font-size: 1.5rem;
      cursor: pointer;
    }

    #social-media-header {
      display: inline;
      transition: opacity 500ms linear;
    }

    i {
      margin-right: 1rem;
    }
  }

  .right-menu-container {
    text-align: right;
    padding: 0.5rem;
    padding-right: 1rem;
    z-index: 20;
    position: relative;

    a {
      color: inherit;
      font-size: 1.5rem;
      cursor: pointer;
      margin-left: 1.5rem;
    }

    i {
      &.active {
        background-color: #000;
        color: #fff;
        border-radius: 50%;
        padding: 0.35rem;
      }
    }

    p {
      display: inline;
      font-size: 1rem;
    }
  }
}

header.collapsed {
  background-color: #fff;

  .nav-title {
    margin-top: -2.5rem !important;

    h2 {
      font-size: 2.5rem;
    }

    h3 {
      opacity: 0;
      height: 0;
    }
  }

  .nav-menu {
    margin-top: -2rem !important;
    border-bottom: 1px solid #e6e6e6;

    ul {
      margin-bottom: 1rem;
    }
  }
}

header.scrolled {
  color: #000;
  background-color: #fff;
  z-index: 4;

  h1, h2, h3, h4, h4 {
    color: #000;
  }

  .nav-title {
    margin-top: 0;
    margin-bottom: 2rem;
  }

  .nav-menu {
    border-bottom: 1px solid #e6e6e6;
    margin-top: 0.5rem;

    ul {
      margin-bottom: 0.75rem;
    }

    a {
      color: #000;
    }
  }
}

li.active {
  border-bottom: 1px solid #000;
}

#shop-item {
  text-align: center;
  img {
    width: 50%;
  }
}

ul.all-products-list {
  margin: 0 auto;
  padding: 0;

  li.product-list-item {
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding: 0 1.5rem;
    margin-bottom: 1.25rem;
    text-align: center;
    h3, h4 {
      text-align: center;
    }

    h3 {
      color: #999;
      font-size: 1rem;
      margin-bottom: 0;
      font-weight: 100;
    }

    h4 {
      margin-top: 0.75rem;
      font-weight: 200;
    }

    img {
      width: 100%;
    }

    &:hover i {
      opacity: 1;
    }

    i {
      top: 0.5rem;
      border-radius: 50%;
      height: 1rem;
      width: 1rem;
      border: 1px solid #ccc;
      color: #ccc;
      font-size: 1rem;
      padding: 0.25rem;
      cursor: pointer;
      position: absolute;
      opacity: 0;
      transition: opacity 500ms linear;

      &:last-of-type, &:nth-of-type(2) {
        top: 2.75rem;
        font-size: 0.85rem;
        text-align: center;
      }

      &.left {
        left: 1rem;
      }

      &.right {
        right: 1rem;
      }

      &:hover {
        color: #fff;
        background-color: #ccc;
      }
    }
  }
}

#shop {
  z-index: 3;
  font-family: 'Montserrat Light';
  font-weight: lighter;
  overflow: hidden;
  position: relative;

  .shop-menu {
    position: absolute;;

    h5 {
      font-family: 'Montserrat Light';
      font-weight: lighter;
      margin-top: 0.25rem;
      margin-bottom: 0.5rem;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li, li > a {
        color: #999;
        font-size: 0.85rem;
        margin-bottom: 0.5rem;
      }

      li > a {
        &.active {
          font-weight: bold;
          border-color: inherit;
          color: #000;
        }
      }
    }

    input[type=checkbox] {
      display: none;
    }

    button[type=submit] {
      background-color: transparent;
      border: 1px solid #000;
      padding: 0.25rem;
    }

    input.with-label:checked + label.label-for {
      font-weight: bold;
      color: #000;
    }

    form {
      li, li > label {
        cursor: pointer;
      }
    }

    #sizes-sublist {
      display: none;
    }

    .shop-list {
      margin-bottom: 1.5rem;
    }

    .shop-sublist {
      margin-left: 1rem;
    }
  }
}

footer {
  position: relative;
  background-color: #F2F2F2;
  overflow: hidden;
  width: 100%;

  .footer-container {
    overflow: hidden;
    margin-bottom: 1.5rem;
    margin-top: 2.5rem;
    font-weight: 100;

    form {
      margin-top: 1.5rem;
      margin-bottom: 3rem;
      width: 100%;

      input[type=email], button[type=submit] {
        background-color: rgba(0, 0, 0, 0);
        border: 1px solid #000;
        color: #000;
        height: 3rem;
        padding: 0.5rem;
        font-size: 1rem;
        margin-right: 1rem;
        margin-bottom: 0.5rem;
      }

      input[type=email] {
        width: 60%;
      }
    }

    ul {
      padding: 0;
      list-style: none;

      li, li > a {
        margin-bottom: 1rem;
        color: #b3b3b3;
        font-size: 0.875rem;
      }
    }

    .footer-contact-info {
      text-align: center;
      font-size: 0.75rem;
      line-height: 2rem;
      margin-top: 2.5rem;

      a {
        font-size: 0.75rem;
        color: #000;
      }
    }

    p {
      margin-top: 1.5rem;
      i {
        font-size: 2rem;
        margin-right: 3rem;
      }
    }
  }
}

.text-black {
  color: black !important;
  * {
    color: black !important;
  }
}

.container {
  padding-left: 1.5rem;
}

#shop-item {
  .item-info {
    text-align: center;

    .item-color-selector {
      display: inline-block;
      width: 1.5rem;
      height: 1rem;
    }

    input[type=radio].item-color-radio {
      display: none;
    }

    input[type=radio].item-color-radio:checked + label {
      color: #000;
      padding: 0.35rem;
    }

    #item-add-to-cart-button:disabled {
      background-color: #eee;
      border: 1px solid #eee;
      color: #999;
      cursor: not-allowed;
    }

    h1 {
      font-weight: 100;
    }

    h4 {
      font-size: 2.15rem;
      font-weight: 400;
      margin-top: 0.5rem;
      margin-bottom: 1rem;
    }

    h5 {
      font-family: 'Montserrat Light';
      font-weight: 100;
      font-size: 0.9rem;
    }

    p {
      font-weight: 100;
      font-size: 0.9rem;
      color: #b3b3b3;
      text-align: justify;
      width: 70%;
      margin: 0 auto;
    }

    ul.under-button {
      li {
        cursor: pointer;
        font-size: 14px;
      }
      a {
        font-size: 14px;
        color: #000;
      }
    }

    ul {
      list-style: none;
      padding: 0;
      margin-bottom: 2rem;

      li {
        display: inline;
        margin-right: 1rem;
        color: #999;

        input[type=radio] {
          display: none;
        }

        label {
          cursor: pointer;
        }

        input[type=radio]:checked + label {
          color: #000;
          border: 1px solid #000;
          padding: 0.35rem;
        }

        input[type=radio]:disabled + label {
          color: #ddd;
          cursor: not-allowed;
        }
      }

      li.active {
        border: 1px solid black;
        padding: 0.35rem;
        color: black;
      }

      #favorite-item-button {
        padding: 0;
      }
    }

    ul.under-button {
      width: 97.5%;
      display: table;
      margin-top: 0.5rem;

      li {
        font-size: 0.75rem;
        margin-left: auto;
        margin-right: auto;
        display: table-cell;
        color: #000;

        width: 33.3333%;
      }
    }

    button {
      background-color: #000;
      color: #fff;
      border: none;
      height: 2.5rem;
      width: 80%;
      font-family: 'Montserrat Light';
      font-weight: 100;
      font-size: 0.75rem;
      cursor: pointer;
    }

    //input.with-label {
    //  display: none;
    //}
    //
    //label.label-for {
    //
    //}
    //
  }
}

#sizing {
  text-align: center;
  margin-bottom: 2.5rem;

  .sizing-form {
    input, button {
      background-color: transparent;
      border: 1px solid #000;
      color: #000;
      height: 3rem;
      padding: 0.5rem;
      font-size: 1rem;
      margin-right: 1rem;
      margin-bottom: 0.5rem;
    }

    input {
      width: 30%;
    }
  }

  h3 {
    font-weight: 100;
    font-size: 1.5rem;
    margin: 2rem 0;
  }

  h3:first-of-type {
    margin-top: 0.5rem;
  }

  p {
    font-size: 0.9rem;
    color: #b3b3b3;
    text-align: justify;
    margin-bottom: 2rem;
  }

  table, th, td {
    font-weight: 100;
    font-size: 0.9rem;
    text-align: center;
    border: 1px solid #b3b3b3;
  }

  table {
    table-layout: fixed;

    td {
      padding: 0.5rem 0;
    }
  }
}

.top-filler {
  height: 16rem;
}

.top-filler2 {
  height: 10vh;
}

.content-wrapper {
  min-height: 100%;

  h3 {
    font-weight: 100;
    font-size: 1.25rem;
  }
}

#user-favorites {
  margin-bottom: 10rem;
}

#cart {
  .cart-item {
    width: 100%;
    margin: 0.5rem 0;
    display: table;
    position: relative;

    table {
      width: 100%;
      table-layout: fixed;
      margin: 0;

      td {
        &:last-of-type:hover {
          cursor: pointer;
        }

        text-align: center;
        font-size: 1.15rem;

        div.quantity {
          width: 65%;
          border: 1px solid #000;
          margin-left: 50%;
          transform: translateX(-50%);
          padding: 0.25rem;

          div {
            &:first-of-type, &:last-of-type {
              cursor: pointer;

              &:hover {
                background-color: #f2f2f2;
              }
            }

            text-align: center;
          }
        }

        h3 {
          font-size: 1.15rem;
          margin-bottom: 0.25rem;
        }

        p {
          font-size: 0.75rem;
          margin-top: 0;
          color: #b3b3b3;

          span {
            color: black;
          }
        }

        i {
          color: #4d4d4d;
          font-size: 2.75rem;

          &:hover {
            cursor: pointer;
          }
        }
      }

      td:first-of-type {
        width: 10rem;
      }

      td:nth-of-type(3) {
        width: 15rem;
      }

      td:nth-of-type(4) {
        width: 15rem;
        font-size: 1.75rem;
      }

      td:nth-of-type(5) {
        width: 5rem;
      }

      td:last-of-type {
        text-align: right;
      }
    }

    div {
      position: relative;
      text-align: center;
    }

    > div:last-child {
      text-align: right;
    }

    img, div {
      display: table-cell;
      vertical-align: middle;
    }

    img {
      width: 7.5rem;
    }
  }

  .promo-code-wrapper {
    margin-top: 0.5rem;

    h3 {
      margin-top: 1.5rem;
      margin-bottom: 0;
    }

    p {
      margin-top: 0.25rem;
      font-size: 0.9rem;
      color: #b3b3b3;
    }
  }

  input, button, select {
    display: block;
    background-color: transparent;
    border: 1px solid #000;
    color: #000;
    height: 2.5rem;
    padding: 0.5rem;
    font-size: 1rem;
    margin-right: 1rem;
    margin-bottom: 1.5rem;
    width: 100%;
    font-size: 0.9rem;
  }

  hr {
    border: 1px solid #000;
  }

  button {
    width: 100%;
    background-color: #000;
    border: none;
    color: #fff;
    height: 3rem;
    padding: 0.5rem;
    font-size: 0.9rem;
    margin-right: 1rem;
    margin-bottom: 2.5rem;
    margin-top: 1.25rem;
  }

  table {
    font-weight: 100;
    font-size: 1.25rem;
    margin: 1rem 0;

    tr.cart-total-price {
      font-size: 2.5rem;

      td:first-of-type {
        text-align: right;
      }
    }

    td {
      padding: 0.6rem 0;
    }

    .price-display {
      font-weight: 400;
      text-align: right;
      padding-right: 1.5rem;
      width: 38%;
    }
  }
}

#checkout-info {
  hr {
    margin-bottom: 1.5rem;
  }

  .promo-code-wrapper {
    margin-top: 0.5rem;

    h3 {
      margin-top: 1.5rem;
      margin-bottom: 0;
    }

    p {
      margin-top: 0.25rem;
      font-size: 0.9rem;
      color: #b3b3b3;
    }
  }

  input, button, select {
    display: block;
    background-color: transparent;
    border: 1px solid #000;
    color: #000;
    height: 2.5rem;
    padding: 0.5rem;
    //font-size: 1rem;
    margin-right: 1rem;
    margin-bottom: 1.5rem;
    font-size: 0.9rem;
  }

  input, button {
    width: calc(100% - 1rem);
  }

  select {
    width: 100%;
  }

  hr {
    border: 1px solid #000;
  }

  button {
    width: 100%;
    background-color: #000;
    border: none;
    color: #fff;
    height: 3rem;
    padding: 0.5rem;
    font-size: 0.9rem;
    margin-right: 1rem;
    margin-bottom: 2.5rem;
    margin-top: 1.25rem;
  }

  table {
    table-layout: fixed;

    tr.dark {
      background-color: #f2f2f2;
    }

    th, td {
      padding: 0.425rem;
    }

    th {
      font-weight: 400;
    }

    td {
      text-align: center;
      font-weight: 100;
    }
  }
}

#user {
  ul.user-menu {
    text-align: center;
    list-style: none;
    padding: 0;
    width: 100%;
    display: table;
    table-layout: fixed;
    border-bottom: 2px solid #f2f2f2;

    li {
      display: table-cell;
      flex: 0 1 auto;
      font-size: 1rem;

      a {
        color: black;
        width: 100%;
        display: block;
        height: 100%;
        position: relative;
        padding: 1.25rem 0;
      }

      &.active {
        background-color: #f2f2f2;
        border: none;
      }
    }
  }

  .order-items {
    border-bottom: 1px solid #f2f2f2;
    overflow: hidden;
    text-align: left;
    padding-bottom: 1.5rem;

    h3 {
      font-size: 0.9rem;
      margin-bottom: 0.25rem;
    }

    p.order-id {
      font-size: 0.85rem;
      margin: 0;
      color: #808080;
    }

    p.order-price-display {
      @extend p.order-id;
    }

    ul.order-products-list {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        font-size: 0.85rem;
        color: #808080;
      }
    }
  }

  .user-addresses {
    ul.stored-addresses {
      margin: 0 auto;
      text-align: center;
      padding: 0;
      text-align: left;

      li {
        border: 1px solid #000;
        position: relative;
        display: inline-block;
        vertical-align: top;
        padding: 2.5rem;
        margin-right: 0.75rem;
        margin-bottom: 1.25rem;

        i {
          position: absolute;
          top: 0;
          right: 0;
          cursor: pointer;
        }

        p {
          margin: 0;
          font-size: 0.75rem;
          max-width: 6rem;
        }
      }
    }
  }

  .promo-codes {
    @extend .order-items;
    p {
      font-size: 0.85rem;
      margin: 0;
      color: #808080;
    }
  }

  form {
    input, button, select {
      display: block;
      background-color: transparent;
      border: 1px solid #000;
      color: #000;
      height: 2.5rem;
      padding: 0.5rem;
      font-size: 1rem;
      margin-right: 1rem;
      margin-bottom: 1.5rem;
      width: 100%;
      font-size: 0.9rem;
    }

    button {
      color: #fff;
      background-color: #000;
    }
  }
}

#search-box {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #fff;

  .search-box-content {
    margin-top: 2rem;

    input[type=text] {
      width: 100%;
      border: none;
      border-bottom: 1px solid #000;
      color: black;
      height: 2.5rem;
      padding-bottom: 0.5rem;
      font-size: 1.5rem;
      font-weight: 200;
    }

    i {
      position: absolute;
      float: right;
      margin-top: -1.5rem;
      right: 1.5rem;
      font-size: 3rem;
      z-index: 11;
      cursor: pointer;
    }

    #search-results {
      margin-top: 2rem;

      img {
        width: 10rem;
      }
    }
  }
}

#cart-box {
  position: fixed;
  max-height: 80%;
  width: 450px;
  background-color: #fff;
  right: 1rem;
  top: 2.75rem;
  border: 1px solid #000;
  overflow: hidden;

  h4 {
    margin-left: 1.5rem;
    font-weight: 100;
  }

  .cart-box-title {
    position: relative;

    h5 {
      top: 0;
      left: 0;
      font-weight: 100;
      margin-bottom: 0;
    }

    i {
      position: absolute;
      top: -1rem;
      right: -1rem;
      font-size: 2.5rem;
      color: #666;
      cursor: pointer;

      &:first-of-type {
        right: 1.25rem;
        font-size: 2.25rem;
        font-weight: 100;
      }
    }
  }

  ul.cart-box-items {
    max-height: 50vh;
    overflow: scroll;
    list-style: none;
    padding: 0;
    margin-bottom: 7.5rem;

    li.cart-box-item {
      border-bottom: 1px solid #e6e6e6;
      margin-bottom: 0.5rem;
      margin-top: 0.75rem;
      padding-bottom: 0.5rem;

      img, div {
        display: inline-block;
      }

      img {
        width: 20%;
        margin: 0 1rem;
      }

      .cart-box-item-amount {
        display: inline;
      }
    }

    div {
      width: 68%;
      height: 6rem;

      p {
        font-weight: 100;
        font-size: 0.85rem;
        display: table;
        margin: 0;

        &.cart-box-item-desc {
          font-size: 0.75rem;
          color: #999;

          span {
            color: #000;
            vertical-align: baseline;
          }

          * {
            display: inline;
          }
        }

        span {
          display: table-row;
          vertical-align: middle;
        }
      }
    }
  }

  div.cart-box-checkout {
    background-color: #fff;
    width: 85%;
    position: absolute;
    bottom: 0;
    text-align: right;
    vertical-align: middle;

    h4, p {
      display: inline;
      font-size: 1.5rem;
    }

    h4 {
      font-weight: 100;
      color: #999;
    }

    p {
      font-weight: 100;
    }

    button {
      display: block;
      background-color: #000;
      border: 1px solid #fff;
      color: #fff;
      height: 2.5rem;
      padding: 0.5rem;
      font-size: 0.75rem;
      margin-right: 1rem;
      margin-bottom: 1.25rem;
      margin-top: 1.25rem;
      width: 100%;
    }
  }
}

.transparent {
  opacity: 0;
  transition: opacity 500ms linear;
}

.opaque {
  opacity: 1;
  transition: opacity 500ms linear;
}

.bring-to-top {
  z-index: 10;
}

.send-to-back {
  z-index: -10;
}

#check-order {
  button.pay-cancel-button {
    width: 100%;
    background-color: #fff;
    border: 1px solid #000;
    color: #000;
    padding: 0.5rem;
    position: relative;
    margin: -1rem 0 2.5rem;
    text-align: center;
  }
}

#checkout-info {
  button.pay-cancel-button {
    width: 100%;
    background-color: #fff;
    border: 1px solid #000;
    color: #000;
    padding: 0.5rem;
    position: relative;
    margin: -1.5rem 0 2.5rem;
    text-align: center;
  }
}

#check-order {
  h3 {
    font-weight: 100;
    font-size: 1.5rem;
    margin: 2rem 0;
    margin-top: 0;
  }

  hr {
    margin-top: 2rem;
    border: 1px solid #000;
    margin-bottom: 1.5rem;
  }

  button {
    width: 100%;
    background-color: #000;
    border: none;
    color: #fff;
    height: 2.5rem;
    padding: 0.5rem;
    font-size: 0.9rem;
    margin-right: 1rem;
    margin-top: 3.5rem;

    &:last-of-type {
      margin-bottom: 2.5rem;
    }
  }

  button.pay-pay-button {
    margin: 0.5rem 0 2rem;
  }

  table {
    table-layout: fixed;

    &:first-of-type {
      tr {
        td {
          text-align: left;

          &:last-of-type {
            text-align: center;
          }
        }
      }
    }

    tr.dark {
      background-color: #f2f2f2;
    }

    th, td {
      padding: 0.425rem;
    }

    th {
      font-weight: 400;
    }

    td {
      text-align: center;
      font-weight: 100;
    }
  }
}

#user-forms {
  form {
    border: 1px solid #000;
    padding: 1.5rem;
    margin: 0 1.5rem;
    margin-bottom: 3.5rem;

    input {
      width: 95%;
      border: 1px solid #000;
      color: black;
      height: 2.5rem;
      padding: 0.5rem;
      font-size: 1rem;
      font-weight: 200;
      display: block;
      margin-top: 0.5rem;
    }

    h3, p {
      text-align: center;
    }

    h3 {
      font-weight: 100;
      font-size: 1.5rem;
      margin: 0 0 1.5rem 0;
    }

    p {
      font-size: 0.95rem;
      color: #b3b3b3;
      margin: -1rem 0 1.5rem 0;
    }

    button {
      width: 100%;
      background-color: #000;
      border: none;
      color: #fff;
      height: 2.5rem;
      padding: 0.5rem;
      font-size: 0.9rem;
      margin-right: 1rem;
      margin-top: 3.5rem;
    }

    div.field {
      margin-bottom: 1rem;
    }
  }
}

#error-page {
  h1, h2, p {
    text-align: center;
  }

  h2 {
    margin-top: 3.5rem;
    font-size: 4rem;
    margin-bottom: 0;
  }

  h1 {
    margin-top: 1rem;
    margin-bottom: 0;
  }

  img {
    &.error-img-small {
      width: 12.5rem;
    }

    &.error-img-big {
      width: 25rem;
    }
  }

  p {
    margin-top: 0.5rem;
    margin-bottom: 2.5rem;

    a {
      color: inherit;
    }
  }

  .error-page-color-1 {
    color: #DDB2A6;
  }

  .error-page-color-2 {
    color: #88B548;
  }
}

.nav-menu-position-fixed {
  position: fixed !important;
  left: 0;
  top: 12rem;
}

.nav-menu-position-bottom {
  position: absolute;
  left: 0;
  bottom: 1.5rem;
}

.pages-list-container {
  text-align: center;

  ul.pages-list {
    list-style: none;
    display: inline-block;
    margin-bottom: 2.5rem;

    li {
      display: inline-block;
      border: 1px solid #000;
      font-size: 1.25rem;
      margin: 0 0.5rem;
      cursor: pointer;

      &.active {
        background-color: #eee;
      }

      &:hover {
        background-color: #eee;
      }

      a {
        color: inherit;
        display: block;
        padding: 0 0.45rem;
      }
    }
  }
}

#how-we-give {
  $hwg-component-height: 800px;

  div.hwg-shop-link {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    border: 3px solid #000;
    padding: 0.5rem;
    display: block;
    width: 15%;
    text-align: center;
    margin-left: 50%;
    transform: translate(-50%);

    a {
      color: #000;
      display: block;
      height: 100%;
    }
  }

  #hwg-menu {
    top: 8rem;
    position: absolute;
    z-index: 100;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;

    &.fixed {
      position: fixed;
      top: 0;
    }

    span.hwg-menu-circle {
      border-radius: 50%;
      height: 0.75rem;
      width: 0.75rem;
      background-color: #fff;
      margin-bottom: 0.5rem;
      margin-left: 1rem;
      display: block;

      a {
        display: block;
        height: 100%;
        width: 100%;
      }

      &.active {
        background-color: #ccc;
      }

      &:hover {
        background-color: #ccc;
      }
    }
  }

  .how-we-give-section {
    height: $hwg-component-height;
    color: #fff;

    h3, h4, p {
      color: #fff;
    }

    h3, h4, p {
      position: relative;
    }

    h3 {
      font-family: Montserrat;
      font-weight: 900;
      margin: 0;
      font-size: 1.5rem;
    }

    h4 {
      margin: -0.75rem 0 0 0;
      font-size: 1.75rem;
    }

    p {
      text-align: center;
    }

    img {
      margin-left: 50%;
      transform: translateX(-50%);
    }

    .grid-12-m {
      height: 100%;

      .cont90 {
        height: 100%;

        .hwg-content-wrapper:first-of-type > p {
          text-align: left;
        }

        .hwg-content-wrapper {
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: 100%;
        }
      }
    }
  }

  #hwg-section-1 {
    margin-top: -1.75rem;
    background: url('/assets/img/hwg-section-1.jpg') no-repeat center center fixed;
    background-size: cover;
  }

  #hwg-section-2 {
    background: url('/assets/img/hwg-section-2.jpg') no-repeat center center fixed;
    background-size: cover;

    img {
      width: 15rem;
    }
  }

  #hwg-section-3 {
    background: url('/assets/img/hwg-section-3.jpg') no-repeat center center fixed;
    background-size: cover;

    img:first-of-type {
      width: 10rem;
    }
  }

  #hwg-section-4 {
    background: url('/assets/img/hwg-section-4.jpg') no-repeat center center fixed;
    background-size: cover;

    .hwg-s4-c2-p {
      padding: 1rem;
      border: 3px solid #fff;
      font-weight: bold;
    }

    img {
      width: 6rem;
    }
  }
}

div.sizing-form {
  margin-bottom: 1.5rem;

  input {
    height: 2.25rem !important;
  }

  select {
    margin-right: 0.75rem;
    height: 3rem;
    background-color: transparent;
    border: 1px solid #000;
  }
}

.product-list-item {
  i.icon-heart-outline:hover {
    background-color: #EA6971 !important;
    border: 1px solid #EA6971 !important;

    &:after {
      font-family: Montserrat;
      font-size: .75rem;
      content: "Favoritos";
      background: url(/assets/img/pink-bubble.svg) no-repeat;
      background-size: cover;
      padding-left: 2.6rem;
      margin-left: .75rem;
      padding-top: 8px;
      position: absolute;
      top: -2.5px;
      width: 130px;
      height: 28px;
      box-sizing: border-box;
    }
  }

  i.icon-shopping-cart:hover {
    &:after {
      font-family: Montserrat;
      font-size: .75rem;
      content: "Carrito";
      background: url(/assets/img/gray-bubble.svg) no-repeat;
      background-size: cover;
      margin-left: 0;
      padding-top: 8px;
      position: absolute;
      top: -2.5px;
      width: 130px;
      height: 28px;
      box-sizing: border-box;
      right: 32px;
      padding-left: 42px;
    }
  }

  i.icon-messages:hover {
    background-color: #37D5C0 !important;
    border: 1px solid #37D5C0 !important;

    &:after {
      font-family: Montserrat;
      font-size: .75rem;
      content: "Share";
      background: url(/assets/img/teal-bubble.svg) no-repeat;
      background-size: cover;
      padding-left: 10px;
      margin-left: .75rem;
      padding-top: 8px;
      position: absolute;
      top: -2.5px;
      width: 130px;
      height: 28px;
      box-sizing: border-box;
    }
  }

  i.icon-book2:hover {
    background-color: #333 !important;
    border: 1px solid #333 !important;

    &:after {
      font-family: Montserrat;
      font-size: .75rem;
      content: "Sizing";
      background: url(/assets/img/black-bubble.svg) no-repeat;
      background-size: cover;
      margin-left: 0;
      padding-top: 8px;
      position: absolute;
      top: -2.5px;
      width: 130px;
      height: 28px;
      box-sizing: border-box;
      margin-left: 0;
      right: 32px;
      padding-left: 0;
    }
  }
}

#discoveryoursize {
  display: none;
  position: fixed;
  z-index: 1000;
  background-color: rgba(255,255,255,0.6);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  .cont60 {
    padding: 0 0 25px 0;
    background-color: #fff;
    border: 1px solid #808080;
    margin-top: 100px;
    h3, h2, p {
      color: #636363;
    }
    img {
      width: 142px;
      height: 215px;
    }
    p {
      margin-bottom: 0;
      margin-bottom: 10px;
    }
    h2 {
      margin-top: 0;
    }
  }
}

#successregister {
  position: fixed;
  z-index: 1000;
  background-color: rgba(255,255,255,0.6);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  .cont60 {
    padding: 0 0 25px 0;
    background-color: #fff;
    border: 1px solid #808080;
    margin-top: 100px;
    h3, h2, p {
      color: #636363;
    }
    img {
      width: 142px;
      height: 215px;
    }
    p {
      margin-bottom: 0;
      margin-bottom: 10px;
    }
    h2 {
      margin-top: 0;
    }
  }
}

#whatwegive {
  display: none;
  position: fixed;
  z-index: 1000;
  background-color: rgba(255,255,255,0.6);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  .cont60 {
    padding: 0 0 25px 0;
    background-color: #fff;
    border: 1px solid #808080;
    margin-top: 100px;
    h3, h2, p {
      color: #636363;
    }
    img {
      width: 142px;
      height: 215px;
    }
    p {
      margin-bottom: 0;
      margin-bottom: 10px;
    }
    h2 {
      margin-top: 0;
    }
  }
}

#cerrarwhatwegive {
  color: #636363;
  font-size: 22px;
  cursor: pointer;
  &:hover {
    color:#000;
  }
}

.margintop {
  margin-top: 60px;
}

.smallsep {
  display: inline-block;
  width: 30px;
  height: 2px;
}
.minisep {
  display: inline-block;
  height: 2px;
  width: 30px;
  background-color: #000;
}

#how2 {
  margin-top: 50px;
}

#how12 {
  position: absolute;
  top: 100px;
  left: -80px;
  width: 160px;
  height: 160px;
}

#how31 {
  width: 250px;
  height: 250px;
  margin: auto;
}

.conciencia {
  h2, h1, p {
    color: #2d3c1c;
  }
  h1 {
    font-weight: bold;
    margin-bottom: 0;
  }
  p {
      margin-top: 0;
  }
  h2 {
    margin-bottom: 40px;
  }
}

.ayuda {
  background-color: #eaeaea;
  padding: 30px 0;
  margin: 80px 0;
  h1 {
    font-weight: bold!important;
    font-size: 32px;
  }
}
.certi {
  margin-bottom: 30px;
}
.ayuda {
  margin-bottom: 70px;
}

#currency-selector {
  display: inline-block;
  position: relative;
  font-size: 1rem;
  margin-right: -0.75rem;
  cursor: pointer;

  #currency-selection-list {
    position: absolute;
    left: 0;
    color: #000;
    top: 37px;
    background-color: #fff;

    ul {
      list-style: none;
      padding: 0.5rem;
      margin: 0;
      border: 1px solid #000;

      hr {
        border: 1px solid #000;
      }

      li {
        cursor: pointer;
      }
    }
  }
}

#itprice {
  font-size: 16px!important;
  margin: 35px 0!important;
}

.footerbelow {
  a {
    &:hover {
      color:#000;
    }
  }
}

.lookbookimgs {
  margin: 0;
  margin-bottom: -6px;
}

#icon-mobile {
  cursor: pointer;
}

#icon-mobile,
#nav-title-mobile {
  display: none;
}

#nav-title-mobile {
 margin-top: 50px;
 h1 {
  font-size: 40px;
 } 
}

#menu-mobile-div {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 3000;
  top: 0;
  left: 0;
  background-color: rgba(255,255,255,0.8);
  overflow: scroll;
  text-align: center;
  a {
    font-size: 24px;
    display: block;
    color: #000;
    padding: 8px 0;
  }
}

#filler {
  height: 80px;
}

#closenavmob {
  position: absolute;
  right: 20px;
  top: 20px;
  color: #000;
  font-size: 44px;
  cursor: pointer;
}

@media (max-width: 768px) {
  #nav-title-mobile {
    display: inline-block;
  }
  #nav-title {
    display: none;
  }
  #shop-below {
    display: none;
  }
  #nav-menu {
    display: none;
  }
  #head-mob {
    border-bottom: 1px solid #e6e6e6;
  }
  #icon-mobile {
    display: inline-block;
  }
  .shop-menu {
    display: none;
  }
  .product-list-item {
    display: block;
    text-align: center!important;
  }
  .all-products-list {
    position: relative!important;
  }
  .top-filler-normal {
    height: 100px!important;
  }
  .filtermob {
    display: block!important;
  }
}

.filtermob {
  display: none;
  text-align: center;
  z-index: 500;
  margin-bottom: 30px;
  a {
    display: block;
    background-color: #808080;
    color: #fff;
    padding: 10px 0;
    &:hover {
      background-color:#333;
    }
  }
  .active {
    background-color: #000;
  }
}








