.noUi-handle {
  background-color: #000;
  box-shadow: none;
  border: none;
  height: 10px !important;
  width: 10px !important;
  border-radius: 50%;

  &:before, &:after {
    display: none;
  }
}

.noUi-horizontal .noUi-handle {
  left: 0;
  top: -5px;
}

.noUi-connect {
  background-color: #000;
  height: 1px;
  top: -0.5px;
}

.noUi-background {
  height: 1px;
  box-shadow: none;
  background-color: #999;
  border: none;
}

.noUi-tooltip {
  font-size: 0.55rem;
  padding: 0;
  border: none;
}

.noUi-target {
  border: none;
}

#price-slider {
  margin: 1.5rem 0;
}

.noUi-horizontal .noUi-handle-upper .noUi-tooltip {
  bottom: -15px;
}

.noUi-horizontal .noUi-handle-lower .noUi-tooltip {
  top: -15px;
}