// GRID SYSTEM

.container {
  width: 90%;
  margin: auto;

  @include media-query(XS) {
    max-width: $breakpoint-small;
  }

  @include media-query(S) {
    max-width: $breakpoint-medium;
  }

  @include media-query(M) {
    max-width: $breakpoint-large;
  }

  @include media-query(L) {
    max-width: $breakpoint-extra-large;
  }

  @include media-query(XL) {
    max-width: 2400px;
  }
}

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}

* html .clearfix, :first-child + html .clearfix {
  zoom: 1;
}

$pages: home, about, products;
$selector: ();

@each $item in $grid-sizes {
  @for $i from 1 to $grid-columns + 1 {
    $selector: $selector unquote(".grid-#{$i}-#{$item}") !global;
    @if $item != nth($pages, length($pages)) {
      $selector: $selector unquote(',');
    }
  }
}

#{$selector} {
  min-height: $grid-min-height;
  margin-right: 2%;
  display: $grid-display;
  position: $grid-position;
}

@each $item in $grid-sizes {

  $selectorXS: ();

  @for $i from 1 to $grid-columns + 1 {
    $selectorXS: $selectorXS unquote('.grid-#{$i}-#{$item}');
    @if $item != nth($pages, length($pages)) {
      $selectorXS: $selectorXS unquote(',');
    }
  }

  @include media-query(mq_indentifier($item)) {
    #{$selectorXS} {
      float: left;
    }

    @for $i from 1 to $grid-columns + 1 {
      $width: percentage(get_column_width($grid-columns, $grid-margin-right, $i));
      .grid-#{$i}-#{$item} {
        width: $width;
      }
    }

    @for $i from 1 to $grid-columns + 1 {
      $width: percentage(get_column_width($grid-columns, $grid-margin-right, $i));
      .grid-#{$i}-#{$item}-left {
        margin-left: $width;
      }
    }

    @for $i from 1 to $grid-columns + 1 {
      $width: percentage(get_column_width($grid-columns, $grid-margin-right, $i));
      .grid-#{$i}-#{$item}-right {
        margin-right: $width;
      }
    }

    @for $i from 1 to $grid-columns + 1 {
      $width: percentage(get_column_width($grid-columns, $grid-margin-right, $i));
      .grid-#{$i}-#{$item}-push {
        left: $width;
      }
    }

    @for $i from 1 to $grid-columns + 1 {
      $width: percentage(get_column_width($grid-columns, $grid-margin-right, $i));
      .grid-#{$i}-#{$item}-pull {
        right: $width;
      }
    }

  }

}

.last, .omega {
  margin-right: 0 !important;
}

.first, .omega {
  margin-left: 0 !important;
}

.loop {
  margin-right: 1%;
}

.cont95 {
  width: 95%;
  margin: auto;
}

.cont90 {
  width: 90%;
  margin: auto;
}

.cont85 {
  width: 85%;
  margin: auto;
}

.cont80 {
  width: 80%;
  margin: auto;
}

.cont75 {
  width: 75%;
  margin: auto;
}

.cont70 {
  width: 70%;
  margin: auto;
}

.cont65 {
  width: 65%;
  margin: auto;
}

.cont60 {
  width: 60%;
  margin: auto;
}

.cont55 {
  width: 55%;
  margin: auto;
}

.cont50 {
  width: 50%;
  margin: auto;
}

.cont45 {
  width: 45%;
  margin: auto;
}

.cont40 {
  width: 40%;
  margin: auto;
}

.cont35 {
  width: 35%;
  margin: auto;
}

.cont30 {
  width: 30%;
  margin: auto;
}

.cont25 {
  width: 25%;
  margin: auto;
}

.cont20 {
  width: 20%;
  margin: auto;
}

.cont15 {
  width: 15%;
  margin: auto;
}

.cont10 {
  width: 10%;
  margin: auto;
}

.cont5 {
  width: 5%;
  margin: auto;
}
