@mixin border-radius($radius) {
	-webkit-border-radius:$radius;
	   -moz-border-radius:$radius;
	    -ms-border-radius:$radius;
	     -o-border-radius:$radius;
	        border-radius:$radius;
}

@mixin single-border-radius($radius, $where, $side) {
  -webkit-border-#{$where}-#{$side}-radius:$radius;
     -moz-border-#{$where}-#{$side}-radius:$radius;
      -ms-border-#{$where}-#{$side}-radius:$radius;
       -o-border-#{$where}-#{$side}-radius:$radius;
          border-#{$where}-#{$side}-radius:$radius;
}

@mixin box_shadow($x, $y, $spread, $color) {
	-webkit-box-shadow:$x $y $spread $color;
	   -moz-box-shadow:$x $y $spread $color;
	    -ms-box-shadow:$x $y $spread $color;
	     -o-box-shadow:$x $y $spread $color;
	        box-shadow:$x $y $spread $color;
}

@mixin transform($degrees) {
  -webkit-transform:rotate($degrees);
     -moz-transform:rotate($degrees);
      -ms-transform:rotate($degrees);
       -o-transform:rotate($degrees);
          transform:rotate($degrees);
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin font-face($style-name, $file, $family, $category:"") {
    $filepath: "../../fonts/" + $family + "/" + $file;
    @font-face {
        font-family: "#{$style-name}";
        src: url($filepath + ".eot");
        src: url($filepath + ".eot?#iefix") format('embedded-opentype'), url($filepath + ".woff") format('woff'), url($filepath + ".ttf")  format('truetype'), url($filepath + ".svg#" + $style-name + "") format('svg');
    }
    %#{$style-name} {
        font: {
            @if $category != "" {
                family: "#{$style-name}", #{$category};
            }
            @else {
                family: "#{$style-name}";
                weight: normal;
            }
        }
    }
}

// Size MIXIN
@mixin size($width, $height: $width) {
      width: $width;
      height: $height;
}

// MEDIA QUERIES
@mixin media-query($size) {
	@if $size == XS {
		@media (min-width: $breakpoint-extra-small) {
	      	@content;
	    }
	} @else if $size == S {
		@media all and (min-width: $breakpoint-small) {
	      	@content;
	    }
	} @else if $size == M {
		@media all and (min-width: $breakpoint-medium) {
	      	@content;
	    }
	} @else if $size == L {
		@media all and (min-width: $breakpoint-large) {
	      	@content;
	    }
	} @else if $size == XL {
		@media all and (min-width: $breakpoint-extra-large) {
	      	@content;
	    }
	}
}

// RETINA IMAGES MIXIN
@mixin image-2x($image, $width, $height) {
  @media (min--moz-device-pixel-ratio: 1.3),
         (-o-min-device-pixel-ratio: 2.6/2),
         (-webkit-min-device-pixel-ratio: 1.3),
         (min-device-pixel-ratio: 1.3),
         (min-resolution: 1.3dppx) {
	    background-image: url($image);
	    background-size: $width $height;
  }
}

// clearfix Mixin
@mixin clearfix() {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

// Box Sizing Mixin
@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model; // Safari <= 5
     -moz-box-sizing: $box-model; // Firefox <= 19
          box-sizing: $box-model;
}

// Center Block an Element
@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Positioning
@mixin positioning($top, $right, $bottom, $left, $how) {
	top: $top;
	bottom: $bottom;
	left: $left;
	right: $right;
	position: $how;
}

// Cover Screen
@mixin cover-screen {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 2000;
}

// Line height
@mixin line-height($heightValue: 12 ){
	line-height: $heightValue + px; //fallback for old browsers
	line-height: (0.125 * $heightValue) + rem;
}

// Centerer
@mixin centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin word-wrap() {
  word-break:     break-word;
  -webkit-hyphens: auto;
  -moz-hyphens:    auto;
  hyphens:         auto;
}

@mixin ellipsis() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// PREFIX MIXIN
@mixin prefix($map, $vendors: webkit moz ms o) {
  @each $prop, $value in $map {
        @if $vendors {
          @each $vendor in $vendors {
            #{"-" + $vendor + "-" + $prop}: #{$value};
          }
        }
        // Dump regular property anyway
        #{$prop}: #{$value};
  }
}

// .other-element {
//   @include prefix((
//     column-count: 3,
//     column-gap: 1em,
//     column-rule: 1px solid silver,
//     column-width: 20em
//   )), webkit moz);
// }

// RESPONSIVE FONT SIZE
@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

// KEYFRAMES
@mixin keyframes($animation-name) {
  @-webkit-keyframes $animation-name {
    @content;
  }
  @-moz-keyframes $animation-name {
    @content;
  }  
  @-ms-keyframes $animation-name {
    @content;
  }
  @-o-keyframes $animation-name {
    @content;
  }  
  @keyframes $animation-name {
    @content;
  }
}

// ANIMATION
@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};      
}

// @include keyframes(slide-down) {
//   0% { opacity: 1; }
//   90% { opacity: 0; }
// }

// .element {
//   width: 100px;
//   height: 100px;
//   background: black;
//   @include animation('slide-down 5s 3');
// }

// Box EMBOSS
@mixin box-emboss($opacity, $opacity2){
    box-shadow:white($opacity) 0 1px 0, inset black($opacity2) 0 1px 0;
}

//.box{
//   @include box-emboss(0.8, 0.05);
//}

// LETTERPRESS
@mixin letterpress($opacity){
    text-shadow:white($opacity) 0 1px 0;
}

// TRIANGLE
@mixin triangle($dir, $size, $color) {
    border: $size transparent solid;
 
    @if ($dir == "top" or $dir == "up" or $dir == "left" or $dir == "before") {
        &:before {
            @if ($dir == "top" or $dir == "up") {
                border-bottom-color: $color;
            }
            @else if ($dir == "right" or $dir == "after") {
                border-left-color: $color;
            }
        }
    }
    @else if ($dir == "bottom" or $dir == "down" or $dir == "left" or $dir == "before") {
        &:after {
            @if ($dir == "bottom" or $dir == "down") {
                border-top-color: $color;
            }
            @else if ($dir == "left" or $dir == "before") {
                border-right-color: $color;
            }
        }
    }
}



@mixin btn-flat($border, $rounded: no, $border-width: 3px, $border-move:2px) {
  @if $rounded != no {
      @include border-radius($rounded);
  }
  border-#{$border}-style: solid;
  border-#{$border}-width: $border-width;
  margin-#{$border}: $border-move;
  $pos: ();
  &:hover {
    @if $border == top {
      $pos: bottom;
    } @else if $border == bottom {
      $pos: top;
    } @else if $border == left {
      $pos: right;
    } @else {
      $pos: left;
    }
    #{$pos}: $border-width;
    color:#fff;
    border-#{$border}-width: $border-width - $border-move; 
  }
}

@mixin move($to, $how_much) {
  position: relative;
  #{$to}: $how_much;
}




