{% if is_add_to_cart or is_empty_cart %}
    {% if cart is empty %}
        <h4>Your cart is empty.</h4>
    {% else %}
        <div class="cont85 cart-box-content">
            <div class="cart-box-title">
                <h5>YOUR CART</h5>
                <i onclick="emptyCart();" class="icon-trash"></i>
                <i onclick="toggleCartBox();" class="icon-times"></i>
            </div>
            <ul class="cart-box-items">
                {% set total = 0 %}
                {% for item in cart %}
                    {% set total = total + ( item.cantidad * item.precio ) %}
                    <li class="cart-box-item">
                        <img src="{{ item.image }}">
                        <div>
                            <p class="cart-box-item-name">{{ item.nombre | upper }}</p>

                            {% if item.category == 'Bikini' %}
                                <p class="cart-box-item-desc">TOP <span>{{ item.talla_top | upper }} |</span> BOTTOM
                                    <span>{{ item.talla_bottom | upper }} |</span> PUSH UP
                                    <span>{{ item.pushup | upper }}</span></p>
                            {% else %}
                                <p class="cart-box-item-desc"> SIZE
                                    <span>{{ item.talla_top | upper }}</span></p>
                            {% endif %}
                            <p class="cart-box-item-price">{{ item.cantidad }} x
                                ${{ _BAOBAB_CURRENCY }} {{ item.precio | number_format(0, '.', ',') }}</p>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            <div class="cart-box-checkout">
                <h4>TOTAL: </h4>
                <p id="cart-box-total-price">${{ _BAOBAB_CURRENCY }} {{ total | number_format(0, '.', ',') }}</p>
                <button onclick="window.location.replace('/cart')">CHECKOUT & PAYMENT</button>
            </div>
        </div>
    {% endif %}
{% elseif is_modify_amount_in_cart %}
    {
    "item_div_id": "{{ modified_item.ref|replace({"::": "-"}) }}",
    "amount": {{ modified_item.cantidad }},
    "item_total": "{{ (modified_item.cantidad * modified_item.precio) | number_format(0, '.', ',') }}",
    "cart_total": "{{ cart_total | number_format(0, '.', ',') }}"
    }
{% elseif is_search %}
    <ul class="all-products-list">
        {% for product in products %}
            <li class="product-list-item">
                <a href="/item/{{ product.slug }}"><img src="{{ product.productImagess[0].url }}"></a>
                <h3>
                    {{ product.name | upper }}
                </h3>
                <h4>
                    ${{ product.price | number_format(0, '.', ',') }}
                </h4>
            </li>
        {% endfor %}
    </ul>
{% elseif is_get_availability %}
    {{ availability | raw }}
{% endif %}
