{{ include('inc/_html_head.twig') }}

<body>
{{ include('inc/_header.twig') }}

<div id="how-we-give" class="content-wrapper">
    <div class="top-filler top-filler-normal"></div>
    <div class="grid-12-xs last">
        <div class="cont75">
            <div class="grid-4-m">
                <h3>Shipping</h3>
                <p>Colombia: TTC two business days</p>
                <p>Internacional: DHL 1-3 business days.</p>
            </div>
            <div class="grid-4-m">
                <h3>Returns Policy:</h3>
                <p style="text-align: justify">
                    We accept exchanges and refunds on all our pieces within 30 days from the delivery date.
                    <br>
                    <br>

                    The swimsuit must be in original condition,  not have been worn, washed or altered in any way.
                    The product that doe not have original tags and hygienic liners in place, are damaged, laundered in any way, soiled, worn, have deodorant stains, smoke damage or a musty odor will not be taken back.
                    Refunds will be issued excluding the original shipping cost.
                    <br><br>


                    The shipping cost incurred for returning items  for an exchange or refund are not covered or reimbursed by us.
                    <br><br>

                    If you are exchanging, you only need to return the piece you wish to exchange.
                    <br><br>
                    For a refund, the full set must be returned (top and bottom).
                    <br><br>

                    For returns and exchanges simply email <a href="mailto:info@baobabwear.co">info@baobabwear.co</a> and we will  allocate a Returns Authorisation (RA) number for you, and give you all the details you need!
                </p>
            </div>
            <div class="grid-4-m last">
                <h3>Contact</h3>
                <p>For questions about sizes, styles or anything you want to know write us at: <a href="mailto:info@baobabwear.co">info@baobabwear.co</a></p>
            </div>
        </div>
    </div>
</div>

{{ include('inc/_footer.twig') }}
</body>
