{#Inlude the <head> tag in the file #}
{#this is done here so that the include has access to all the template variables#}
{{ include('inc/_html_head.twig') }}

<body>
{#the app header#}
{{ include('inc/_header.twig') }}

<div id="header-background" class="grid-12-m-last"></div>
<div class="body-home">
    <div id="home-footer" class="grid-12-m last home-footer">
        <div class="home-bottom-form">
            <h3>For every Baobab you purchase, we will plant a tree in your name</h3>
        </div>
    </div>
</div>
{{ include('inc/_shop.twig') }}
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NZVX3MG"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<!-- Google Code for Conversion Baobab Conversion Page -->
<script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 878571162;
    var google_conversion_language = "en";
    var google_conversion_format = "3";
    var google_conversion_color = "ffffff";
    var google_conversion_label = "9t-aCJb66mwQmt33ogM";
    var google_remarketing_only = false;
    /* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
    <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/878571162/?label=9t-aCJb66mwQmt33ogM&amp;guid=ON&amp;script=0"/>
    </div>
</noscript>
{{ include('inc/_footer.twig') }}
</body>
