{{ include('inc/_html_head.twig') }}

<body>
{{ include('inc/_header.twig') }}

<div id="shop-item" class="content-wrapper">
    <div class="top-filler top-filler-normal"></div>
    <div class="grid-8-m">
        <div class="cont90">
            <div class="grid-6-m">                
                <img class="photo" src="{{ pic }}" style="width:100%;height:auto;" data-big="{{ pic }}" data-overlay="{{ pic }}" data-big2x="{{ pic }}">
            </div>
            <div class="grid-6-m last">                
                <img class="photo" src="{{ back_pic }}" style="width:100%;height:auto;" data-big="{{ back_pic }}" data-overlay="{{ back_pic }}" data-big2x="{{ back_pic }}">
            </div>
        </div>
    </div>
    <div class="grid-4-m last item-info">
        <div class="cont80">
            <h1>{{ item.name | upper }}</h1>
            <div id="real-item-price" style="display: none;">{{ item_price }}</div>
            <h4 id="itprice">${{ _BAOBAB_CURRENCY }} <span id="item-price-display">{{ item_price | number_format(0, '.', ',') }}</span></h4>
            <p style="text-align:center!important;" class="text-center">{{ item.description | raw }}</p>
            {% if item_class == 'OnePiece' %}
                <h5>SIZE</h5>
                <ul id="top-size-selection" class="item-sizes-selection">
                    {% for stockable in stockables %}
                        <li>
                            <input class="with-label" type="radio" id="top-size-{{ stockable.size|lower }}"
                                   value="{{ stockable.sku }}" name="top-size">
                            <label class="label-for"
                                   for="top-size-{{ stockable.size|lower }}">{{ stockable.size|upper }}</label>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <h5>TOP</h5>
                <ul id="top-size-selection" class="item-sizes-selection">
                    {% for top in tops %}
                        <li>
                            <input class="with-label" type="radio" id="top-size-{{ top.size | lower }}"
                                   value="{{ top.sku }}" name="top-size">
                            <label class="label-for"
                                   for="top-size-{{ top.size|lower }}">{{ top.size | upper }}</label>
                        </li>
                    {% endfor %}
                </ul>
                {% if 'mawi' in item.slug %}
                    <h5>PUSH-UP PADDING</h5>
                    <ul class="item-availability-selector">
                        <li>
                            <input checked class="with-label" type="radio" id="pushup-cups-no" name="pushup-cups"
                                   value="false">
                            <label class="label-for" for="pushup-cups-no">NO</label>
                        </li>
                        <li>
                            <input class="with-label" type="radio" id="pushup-cups-yes" name="pushup-cups" value="true">
                            <label class="label-for" for="pushup-cups-yes">YES</label>
                        </li>
                    </ul>
                {% else %}
                    <input type="hidden" name="pushup-cups" value="false">
                {% endif %}
                <h5>BOTTOM</h5>
                <ul id="bottom-size-selection" class="item-sizes-selection">
                    {% for bottom in bottoms %}
                        <li>
                            <input class="with-label" type="radio" id="bottom-size-{{ bottom.size|lower }}"
                                   value="{{ bottom.sku }}" name="bottom-size">
                            <label class="label-for"
                                   for="bottom-size-{{ bottom.size|lower }}">{{ bottom.size|upper }}</label>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            <div id="item-slug" class="hidden">{{ item.slug }}</div>
            <div id="item-category" class="hidden">{{ item_category }}</div>
            <button id="item-add-to-cart-button" onclick="addToCart(getItemRefString());">ADD TO CART</button>
            <ul class="under-button">
                <li id="opensizeing-pop">SIZING</li>
                <li id="openshipping-pop">SHIPPING</li>
                <li id="openwhatyougive">WHAT YOU GIVE</li>
            </ul>
        </div>
    </div>
</div>
{{ include('inc/_footer.twig') }}
</body>

