{{ include('inc/_html_head.twig') }}
<head>
    <title>Look Book Baobab Swimwear | Exclusive Swimwear </title>
    <meta name="Description" content="Baobab Swimwear is a Colombian brand, our inspiration derives from our country, recognizing and cultivating the value of biodiversity that defines us. Affordable & effortlessly cool. Discover our amazing Baobab Look Book.">
    <meta name="Keywords" content="summer, beachwear, swimwear, swimsuits, bikini, beach bikini, social fashion, bikini mujer, online bikini store, online shopping, one piece bikinis, one piece bikini,">
</head>

<body>
{{ include('inc/_header.twig') }}

<div id="how-we-give" class="content-wrapper">
    <div class="top-filler top-filler-normal-tight"></div>
    <div class="grid-12-xs last">
        {% for i in 0..15 %}
            <img class="lookbookimgs" src="/assets/img/lookbook{{i}}.jpg">
        {% endfor %}
    </div>
</div>

{{ include('inc/_footer.twig') }}
</body>
