{#Inlude the <head> tag in the file #}
{#this is done here so that the include has access to all the template variables#}
{{ include('inc/_html_head.twig') }}

<body>
{#the app header#}
{{ include('inc/_header.twig') }}

<div id="cart" class="content-wrapper">
    <div class="top-filler"></div>
    <div class="grid-12-m last">
        <div class="cont90">
            <h3>{% if order_status == 4 %}
                    YOUR ORDER IS PAID
                {% elseif ($order_status === 7) %}
                    YOUR ORDER IN QUEUE
                {% elseif ($order_status === 6) %}
                    WE'RE SORRY! YOUR ORDER WAS CANCELLED!
                {% endif %}
            </h3>
            <hr>
            {% if sub_pedidos is not empty %}
                {% for sub_pedido in sub_pedidos %}
                    <div class="cart-item">
                        <table>
                            <tr>
                                <td>
                                    <img src="{{ sub_pedido.image }}">
                                </td>
                                <td>
                                    {% if sub_pedido['talla_top'] and sub_pedido['talla_bottom'] %}
                                        <h3>{{ sub_pedido['name'] | upper }}</h3>
                                        <p>TOP <span>{{ sub_pedido['talla_top'] | upper }} |</span> BOTTOM
                                            <span>{{ sub_pedido['talla_bottom'] | upper }} |</span> PUSH UP
                                            <span>{{ sub_pedido['Pushup'] ? 'SÍ' : 'NO' | upper }}</span></p>
                                    {% else %}
                                        <h3>{{ sub_pedido['name'] | upper }}</h3>
                                        <p> SIZE
                                            <span>{{ sub_pedido['talla_top'] | upper }}</span></p>
                                    {% endif %}
                                </td>
                                <td class="resp">
                                    <div class="grid-6-xs quantity">
                                        <div class="grid-4-xs">
                                            <span style="height: 0;"></span>
                                        </div>
                                        <div class="grid-4-xs">
                                            <span class="cart-item-amount">{{ sub_pedido['Amount'] }}</span>
                                        </div>
                                        <div class="grid-4-xs last">
                                            <span style="height: 0;"></span>
                                        </div>
                                    </div>
                                </td>
                                <td class="price-display">
                                    ${{ pedido_currency }}
                                    <span>{{ (sub_pedido['Amount'] * sub_pedido['Unitprice']) | number_format(0, '.', ',') }}</span></td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                {% endfor %}
            {% else %}
                <h4>There are no products in your order.</h4>
            {% endif %}
            <hr>
        </div>
    </div>
    <div class="grid-12-m last">
        <div class="cont90">
            <a class="return-to-shop-on-pay" href="/shop">
                RETURN TO SHOP
            </button>
        </div>
    </div>
</div>

{{ include('inc/_footer.twig') }}
</body>
