{{ include('inc/_html_head.twig') }}
<head>
    <title>Shop Baobab Swimwear | Exclusive Swimwear </title>
    <meta name="Description" content="Baobab Swimwear is a Colombian brand, our inspiration derives from our country, recognizing and cultivating the value of biodiversity that defines us. Affordable & effortlessly cool. Shop now in our online store and be part of Baobab community. Buy one grow one.">
    <meta name="Keywords" content="summer, beachwear, swimwear, swimsuits, bikini, beach bikini, social fashion, bikini mujer, online bikini store, online shopping,
 one piece bikinis, one piece bikini, ">
</head>
<body>
{{ include('inc/_header.twig') }}

{{ include('inc/_shop.twig') }}
{{ include('inc/_footer.twig') }}
</body>
