{{ include('inc/_html_head.twig') }}
<head>
    <title>Sizng Baobab Swimwear | Exclusive Swimwear</title>
    <meta name="Description" content="Baobab Swimwear is a Colombian brand, our inspiration derives from our country, recognizing and cultivating the value of biodiversity that defines us. Affordable & effortlessly cool. Discover  our Sizes and shop now in our online store">
    <meta name="Keywords" content="summer, beachwear, swimwear, swimsuits, bikini, beach bikini, social fashion, bikini mujer, online bikini store, online shopping, one piece bikinis, one piece bikini">
</head>

<body>
{{ include('inc/_header.twig') }}

<div id="discoveryoursize">
    <div class="cont60">
        <div class="cont95 buyonecont text-center">
            <div class="grid-12-xs text-right">
                <i class="icon-times" onclick="cerrarDiscoverYourSize()"></i>
            </div>
            <h2 class="montserrat-thin">YOUR BAOBAB SIZES</h2>
            <p class="montserrat-thin">Based on the data you gave us, your Baobab sizes are the following:</p>
            <h3 class="text-uppercase monsterrat">TOP</h3>
            <p id="baobab-top-size"></p>
            <h3 class="text-uppercase monsterrat">BOTTOM</h3>
            <p id="baobab-bottom-size"></p>
        </div>
    </div>
</div>

<div id="sizing" class="content-wrapper">
    <div class="top-filler top-filler-normal"></div>
    <div class="grid-12-m last">
        <h3>DISCOVER YOUR SIZE</h3>
        <div class="sizing-form">
            <input type="text" id="top-size" placeholder="YOUR CUP SIZE">
            <input type="number" id="bottom-size"
                   placeholder="YOUR BOTTOM SIZE">
            <select name="bottom-sizing-country" id="bottom-sizing-country">
                <option value="1">US</option>
                <option value="2">EURO</option>
                <option value="3">UK</option>
                <option value="4">ITA</option>
            </select>
            <button onclick="discoverYourSize();">DISCOVER YOUR SIZE</button>
        </div>
    </div>
    <div class="grid-6-m">
        <div class="cont80">
            <h3>TOP</h3>
            {#<p>Cliche heirloom small batch vinyl, hoodie 8-bit tote bag master cleanse pabst aesthetic literally tousled#}
                {#mumblecore microdosing. Pinterest literally four loko DIY hashtag farm-to-table chartreuse hoodie#}
                {#narwhal before they sold out, cred organic. Roof party fixie authentic organic art party flannel.</p>#}
            <table>
                <tr>
                    <td>TOP</td>
                    <td>CUP SIZE</td>
                </tr>
                <tr>
                    <td>S</td>
                    <td>AA - A</td>
                </tr>
                <tr>
                    <td>M</td>
                    <td>B - C</td>
                </tr>
                <tr>
                    <td>L</td>
                    <td>D</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="grid-6-m last">
        <div class="cont80">
            <h3>BOTTOM</h3>
            {#<p>Bicycle rights next level marfa, lumbersexual shoreditch ethical cray kinfolk mixtape salvia raw denim#}
                {#chia. Gastropub twee 8-bit deep v biodiesel dreamcatcher pinterest. Mumblecore austin intelligentsia,#}
                {#synth hammock humblebrag pinterest mlkshk flannel PBR&B selvage vice taxidermy everyday carry#}
                {#meditation.</p>#}
            <table id="sizes-table">
                <tr>
                    <td>BOTTOM</td>
                    <td>US</td>
                    <td>EURO</td>
                    <td>UK</td>
                    <td>ITA</td>
                </tr>
                <tr>
                    <td>S</td>
                    <td>0 - 2</td>
                    <td>32 - 34</td>
                    <td>4 - 6</td>
                    <td>36 - 38</td>
                </tr>
                <tr>
                    <td>M</td>
                    <td>4 - 6</td>
                    <td>36 - 38</td>
                    <td>8 - 10</td>
                    <td>40 - 42</td>
                </tr>
                <tr>
                    <td>L</td>
                    <td>8 - 10</td>
                    <td>40 - 42</td>
                    <td>12 - 14</td>
                    <td>44 - 46</td>
                </tr>
            </table>
        </div>
    </div>
</div>

{{ include('inc/_footer.twig') }}
</body>
