{{ include('inc/_html_head.twig') }}
<head>
    <title>Customer Care Baobab Swimwear | Exclusive Swimwear </title>
    <meta name="Description" content="Baobab Swimwear is a Colombian brand, our inspiration derives from our country, recognizing and cultivating the value of biodiversity that defines us. Affordable & effortlessly cool. ">
    <meta name="Keywords" content="summer, beachwear, swimwear, swimsuits, bikini, beach bikini, social fashion, bikini mujer, online bikini store, online shopping, one piece bikinis, one piece bikini,">
</head>

<body>
{{ include('inc/_header.twig') }}
<div class="top-filler"></div>
{% if is_register_form %}
    {{ include('inc/user/_register_form.twig') }}
{% else %}
    {% if isLoggedIn %}
        {% if is_get_favorites %}
            {{ include('inc/user/_favorites.twig') }}
        {% else %}
            <div id="user" class="content-wrapper">
                <div class="grid-12-m last">
                    <ul class="user-menu">
                        <li class="{{ is_orders ? 'active' }}"><a href="/user/orders">ORDERS</a></li>
                        {#<li class="{{ is_addresses or is_add_address ? 'active' }}"><a href="/user/addresses">DIRECCIONES</a></li>#}
                        {#<li class="{{ is_promo_codes ? 'active' }}"><a href="/user/promo_codes">BONOS DE REGALO</a></li>#}
                    </ul>
                </div>
                <div class="grid-12-m last">
                    <div class="cont95">
                        {% if is_orders %}
                            {{ include('inc/user/_order_items.twig') }}
                        {% elseif is_addresses or is_add_address %}
                            {{ include('inc/user/_addresses.twig') }}
                        {% elseif is_promo_codes %}
                            {{ include('inc/user/_promo_codes.twig') }}
                        {% endif %}
                    </div>
                </div>
                <form action="/user/logout" method="post">
                    <button type="submit">LOG OUT</button>
                </form>
            </div>
        {% endif %}
    {% else %}
        {{ include('inc/user/_login_form.twig') }}
    {% endif %}
{% endif %}

{{ include('inc/_footer.twig') }}
</body>
